
<form [formGroup]="formGrop" novalidate>
    <div class="row headtitle">
        <div class="col-md-9">
            <h4>Principal/Agency Agreement</h4>
        </div>
        <div class="col-md-3 alrt">
            <button type="button" class="btn btn-success btn-raised bmd-btn-edit btntop" [routerLink]="['/views/masters/LAmaster/Principalagency/Principalagencyview']"><i class="material-icons editicon">reply</i><div class="ripple-container"></div></button>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills nav-justified" role="tablist">
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link" data-toggle="tab" (click)="btntabclick(1)" role="tab" aria-selected="true">Principal Details</a>
                        </li>
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link active show" data-toggle="tab" (click)="btntabclick(2)" role="tab" aria-selected="false">Port wise agent Details</a>
                        </li>
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link" data-toggle="tab" (click)="btntabclick(3)" role="tab" aria-selected="false">Principal Agreement</a>
                        </li>
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link" data-toggle="tab" (click)="btntabclick(4)" role="tab" aria-selected="false">Attachments</a>
                        </li>
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link" data-toggle="tab" (click)="btntabclick(5)" role="tab" aria-selected="false">Alert Mails</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane pt-3 active show" role="tabpanel">
                            <div class="row tblrow">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Line Code</label>
                                                <input type="text" id="txtLineCode" disabled name="UserID" formControlName="LineCode" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Line Name</label>
                                                <input type="text" id="txtLineName" disabled name="UserID" formControlName="LineName" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padlr0">
                    <div id="datatable-buttons_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

                        <div class="row tblrow1">
                            <div class="col-sm-12 tablevar">
                                <table id="datatable-buttons" class="det table table-striped table-bordered w-100 dataTable no-footer tblhalf" role="grid" aria-describedby="datatable-buttons_info">
                                    <thead>
                                        <tr role="row">
                                            <th>Destination Port</th>
                                            <th>Agent Name</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let gRow of DynamicGrid; let i= index; let last=last">
                                            <td>{{gRow.AgencyName}}</td>
                                            <td>{{gRow.PortName}}</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>