<div class="row headtitle">
    <div class="col-md-9">
        <h4>Administration - System Master</h4>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 panelbox">
                <div class="panel panel-default">
                    <div class="panel-heading">System Masters</div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Instance Profile</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/administration/systemmaster/emailconfig/emailconfigview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Email Configuration</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>   Control Parameter</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/administration/systemmaster/appconfig/appconfigview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  App Configuration</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/administration/systemmaster/documentnumbering/documentnumberingview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Document Numbering</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/administration/systemmaster/notesclause/notesclauseview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> Notes & BL Clauses</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 panelbox">
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-size: 16px;">
                        User Configuration & Log
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/administration/userconfig/userprofile/userprofileview']" style="font-size:14px; color:blue;"><i class="fa fa-angle-double-right"></i>  User Profile</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/administration/userconfig/rolemanagement/rolemanagementview']" style="font-size:14px; color:blue;"><i class="fa fa-angle-double-right"></i>  Role Management</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/administration/systems/user/userview']" style="font-size:14px; color:blue;"><i class="fa fa-angle-double-right"></i>  Notification Access</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/administration/systems/user/userview']" style="font-size:14px; color:blue;"><i class="fa fa-angle-double-right"></i>  User Log Report</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>