.table>thead>tr>th {
    width: 11% !important;
    text-align: center;
}

.exportAs {
    width: 30px;
    height: 30px;
}

.placeholder-option {
    font-weight: normal;
}

/* Ensure all elements respect padding and borders */
* {
    box-sizing: border-box;
}

/* Set consistent height and padding for the input fields */
.format {
    width: 60% !important;
    height: 30px; /* Ensure consistent height */
    padding: 5px 10px; /* Adjust padding as needed */
    text-align: left !important;
    box-sizing: border-box; /* Include padding in the height calculation */
}
.optionformat{
    width: 60% !important;
    height: 60px !important;
}
/* Ensure the dropdown container also respects height */
.ng-select.selectdrop ::ng-deep .ng-select-container {
    min-height: 40px; /* Consistent with input field height */
    border-radius: 0;
    box-sizing: border-box;
}

.ng-select.selectdrop {
    border: 0;
    min-height: 40px; /* Consistent with input field height */
    border-radius: 0;
    font-size: 11px !important;
    box-sizing: border-box;
}

/* Adjust dropdown size for consistency */
.ng-select.selectdrop-dropdown-size {
    border: 0;
    min-height: 40px; /* Consistent with input field height */
    border-radius: 0;
    font-size: 10px;
    box-sizing: border-box;
}

/* ::ng-deep .custom-dropdown .ng-option:hover {
    background-color: inherit !important;
    color: inherit !important;
}

::ng-deep .custom-dropdown .ng-option.ng-option-marked {
    background-color: inherit !important;
    color: inherit !important;
} */

/* Button height fix to ensure consistency */
.fixed-height {
    padding: 2px 0 !important;
    width: 35%;
    height: 40px; /* Ensuring the height matches other inputs */
    font-size: 14px !important;
    box-sizing: border-box;
}

/* Optional: Remove any default date formatting */
.mat-input-element::-webkit-datetime-edit {
    text-align: start; /* Centers the text */
}

/* Hide the input's default value format */
.mat-input-element {
    text-align: start;
}

.tillDate1 {
    width: 60%;
    padding: 0px !important;
    font-size: 9px !important;
  }


  .appearance .mat-form-field-outline {
    color: #ccc !important;
    height: 30px !important;
}


.appearance .mat-form-field-outline-thick {
    color: #d9d9d9 !important; /* Ensures the border is gray when focused */
}

input.mat-input-element {
    margin-top: -1.0625em;
}
  

  /* .mat_date_picker1.mat-form-field-appearance-outline .mat-form-field-outline {
    color: transparent !important;
    border: 1px solid #a9a9a9 !important;
    border-color: #333 !important;
  } */ 


