<div class="container-fluid">
    <!-- header start -->
    <div class="d-flex justify-content-between headtitle mt-2">
        <h4 class="ml-2 mt-2" style="color:#003d79">Opening Balances - Accounts Payable</h4>

        <div class="btntop">

            <button *ngIf="isEditButton" (click)="enableEdit();isUpdateButtonDisable = false;" type="button"
            class="btn btn-warning bmd-btn-edit btn-raised btntop emarginr ng-star-inserted">
            <i class="material-icons editicon">edit</i>
        </button>
            <button type="button" class="btn btn-success bmd-btn-edit btn-raised btntop"
            [routerLink]="['/views/transactions/openingBalances/account-payable']"
            ><i class="material-icons editicon">reply</i>
                <div class="ripple-container"></div>
            </button>

            <button 
                class="nav-link dropdown-toggle arrow-none waves-effect nav-user btn bmd-btn-edit btn-raised btntop btnlog"
                data-placement="bottom" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="material-icons editicon">schedule</i>
            </button>


            <div style="background-color: aliceblue;width:250px;left:-66px"
            class="dropdown-menu dropdown-menu  profile-dropdown" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item p-4">
                <div class="row">
                    <div class="col-md-12">
                        <span>ModifiedOn: {{ModifiedOn}}</span> | <span>Modified By:
                            {{ModifiedBy}}</span>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                        <span>CreatedOn: {{CreatedOn}}</span> | <span>Created By:
                            {{CreatedBy}}</span>
                    </div>
                </div>
            </a>
        </div>
        </div>
    </div>
    <!-- header end -->
    <div class="card-body" style="padding-top: 0px;">

        <div class="row">
            <div class="col-md-4">

            </div>
        </div>

        <div class="row">
            <form [formGroup]="accountPayableForm">
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="tab-pane pt-3 active show" id="employeeDetails" role="tabpanel">
                        <div class="row">
                            <div class="col-3">
                                <label class="">OB Reference #</label>
                                <input type="text"  [disabled]=" isUpdate ? 'disabled' : ''" formControlName ="OBReference" class="form-group w-100 pl-2 form-control" readonly />

                            </div>
    
                            <div class="col-3">
                                <label class="">OB Date</label>
                                <input type="text"  [disabled]=" isUpdate ? 'disabled' : ''" formControlName ="OBDate" class="form-group w-100 pl-2 form-control" readonly />
                            </div>
                     </div>
                        
                      <div class="row">
                                    <div class="col-3">
                                        <label class="">Division</label>
                                        
                                        <ng-select  class="searchdropdown custom" type="text" [ngClass]="isUpdate" [ngClass]="isUpdate ? 'block-input' : ''"
                                          formControlName="DivisionId"(change)="getOffice($event); getVendorList($event)" [clearable]="false"  [appendTo]="'body'">
                                    <ng-option [value]="''" disabled>--SELECT DIVISION TYPE--</ng-option>
                                    <ng-container  *ngFor="let division of divisionList">
                                    <ng-option *ngIf="division.Active" [value]="division.ID">
                                        {{division.DivisionName | uppercase}}
                                    </ng-option>
                                    </ng-container>
                                    </ng-select> 
                                 </div>
                          
                                <div class="col-3">
                                    <label class="str1 mt-0">Office</label>
                                    <ng-select  class="searchdropdown custom"  [ngClass]=" isUpdate ? 'block-input' : ''" formControlName="OfficeId"
                                    [clearable]="false">
                                    <ng-option [value]="''" disabled>--SELECT OFFICE--</ng-option>
                                    <ng-container *ngFor="let office of officeList">
                                    <ng-option [value]="office.ID">
                                        {{office.OfficeName | uppercase}}
                                    </ng-option>
                                   </ng-container>
                                   </ng-select>      
                                </div>

                                <div class="col-3">
                                    <label class="">Vendor Name</label>                                    
                                    <ng-select class="searchdropdown custom" [clearable]="false" [ngClass]=" isUpdate ? 'block-input' : ''" [formControlName]="'VendorName'" [appendTo]="'body' " (change)="getVendorBranch($event);">
                                        <ng-option [value]="''" disabled>--SELECT VENDOR--</ng-option>
                                        <ng-option *ngFor="let vendor of vendorList"  [value]="vendor.VendorID">
                                            <span class="textwrap">{{vendor.VendorName | uppercase}}</span>
                                        </ng-option>
                                    </ng-select>  
                             </div>

                             <div class="col-3">
                                <label class="str1 mt-0">Vendor Branch</label>
                                <ng-select class="searchdropdown" [clearable]="false" [formControlName]="'VendorBranch'">
                                    <ng-option [value]="''" disabled>--SELECT BRANCH--</ng-option>
                                    <ng-option *ngFor="let Branch of VendorCodeList"  [value]="Branch.CityName">
                                        <span class="textwrap">{{Branch.CityName | uppercase}}</span>
                                    </ng-option>
                                </ng-select> 
                            </div>

                                <!-- <div class="col-3">
                                    <label class="">Purchase Invoice #</label>
                                    <input RemoveSpecialChars type="text" [ngClass]=" isUpdate ? 'block-input' : ''" formControlName ="PurchaseInvoice" class="w-100 form-group pl-2 form-control"/>
                                </div> -->

                                <div class="col-3">
                                    <label class="">Purchase Invoice #</label>
                                    <input  [ngClass]=" isUpdate ? 'block-input' : ''" formControlName ="PurchaseInvoice" class="w-100 form-group pl-2 form-control"/>
                                </div>
                                <div class="col-3">
                                    <label class=" mb-2">Purchase Invoice Date</label>
                                    <mat-form-field class="tillDate mat_date_picker "   appearance="outline">
                                        <input matInput (click)="PurchaseInvoiceDate.open()"  autocomplete="off" [ngClass]=" isUpdate ? 'block-input' : ''" 
                                        [matDatepicker]="PurchaseInvoiceDate"  id="PurchaseInvoiceDate" [placeholder]="entityDateFormat" formControlName ="PurchaseInvoiceDate">
                                        <mat-datepicker-toggle matSuffix [for]="PurchaseInvoiceDate"></mat-datepicker-toggle>
                                        <mat-datepicker #PurchaseInvoiceDate></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-3">
                                    <label class="">Invoice Currency</label>
                                    <ng-select class="searchdropdown custom" type="tel" [ngClass]=" isUpdate ? 'block-input' : ''" formControlName ="InvoiceCurrency" [clearable]="false"  [appendTo]="'body'">
                                        <ng-option [value]="''"  [disabled]="true" selected>--SELECT CURRENCY--</ng-option>
                                        <ng-option *ngFor="let currency of currencyList" [value]="currency.CurrencyCode">{{ currency.CurrencyCode | uppercase }}</ng-option>
                                     </ng-select>
                             
                                </div>

                                <div class="col-3">
                                    <label class="">Exchange Rate</label>
                                    <input [ngClass]=" isUpdate ? 'block-input' : ''"
                                    onkeypress='return event.charCode >= 46 && event.charCode <= 57 && event.charCode != 47'
                                    min="0" numbersOnly 
                                    appDynamicDecimal class="form-control my-select amount w-100 mr-0"
                                    formControlName="Exchange"/>
                                </div>

                                <div class="col-3">
                                    <label class="">Debit/Credit</label>                                 
                                    <ng-select class="searchdropdown custom" [ngClass]=" isUpdate ? 'block-input' : ''" formControlName ="DebitorCredit"  [clearable]="false"  [appendTo]="'body'">
                                      <ng-option [value]="''" disabled>--SELECT Dr/Cr--</ng-option>
                                      <ng-option *ngFor="let item of debitCreditList" [value]="item.debitCreditName">
                                        {{ item.debitCreditName | uppercase }}
                                      </ng-option>
                                    </ng-select>  
                                  </div>

                                <div class="col-3">
                                    <label class="">Invoice Amount (ICY)</label>
                                    <input [ngClass]=" isUpdate ? 'block-input' : ''"
                                    onkeypress='return event.charCode >= 46 && event.charCode <= 57 && event.charCode != 47'
                                    min="0" numbersOnly 
                                    appDynamicDecimal class="form-control my-select amount w-100 mr-0"
                                    formControlName="InvoiceAmountICY"/>
                                </div>

                                <div class="col-3">
                                    <label class="">Invoice Amount (CCY)</label>
                                    <input [ngClass]=" isUpdate ? 'block-input' : ''"
                                    onkeypress='return event.charCode >= 46 && event.charCode <= 57 && event.charCode != 47'
                                    min="0" numbersOnly 
                                    appDynamicDecimal class="form-control my-select amount w-100 mr-0"
                                    formControlName="InvoiceAmountCCY"/>
                                </div>

                                <div class="col-3">
                                    <label class="">Due Amount (ICY)</label>
                                    <input [ngClass]=" isUpdate ? 'block-input' : ''"
                                    onkeypress='return event.charCode >= 46 && event.charCode <= 57 && event.charCode != 47'
                                    min="0" numbersOnly 
                                    appDynamicDecimal class="form-control my-select amount w-100 mr-0"
                                    formControlName="DueAmountICY"/>
                                </div>

                                <div class="col-3">
                                    <label class="">Due Amount (CCY)</label>
                                    <input [ngClass]=" isUpdate ? 'block-input' : ''"
                                    onkeypress='return event.charCode >= 46 && event.charCode <= 57 && event.charCode != 47'
                                    min="0" numbersOnly 
                                    appDynamicDecimal class="form-control my-select amount w-100 mr-0"
                                    formControlName="DueAmountCCY"/>
                                </div>
                     </div>
                    </div>
                    
                </div>
            </div>
        </form>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 text-right mt-4">
                <button *ngIf="isEditButton" type="button" class="btn btn-primary btn-raised" style="margin-right: 10px;" [disabled]="!isSavemode" (click)="save();">Save</button>

        <button *ngIf="isEditButton" style="margin-right: 10px" type="button" class="btn btn-danger btn-raised" [disabled]="!isSavemode" (click)="deleteRecord()">Delete</button>
        <button  type="button" class="btn btn-warning btn-raised" (click)="Cancel()">Cancel</button>
        </div>
           
        </div>
    </div>
</div>
