.chips{
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    background-color: #e0e0e0;
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
}

.footer-position-sticky{
    position: sticky;
    bottom: 0;
    background: #e2e3e5;
    z-index: 4;
}

.fixTableHead thead th {
    position: sticky;
    top: 0;
}

.fixTableHead tfoot td {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: #e2e3e5;
    z-index: 4;
}

.header-position-sticky{
    position: sticky;
    top: 0;
}

.save-disable---style{
    background-color: #2f4685 !important;
    border: 1px solid #2f4685 !important;
    opacity: .65 !important;
}
.final-disable--style{
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    opacity: .65 !important;
}
/* :host .checked-row {
    background: rgb(208, 252, 208) !important;
} */
div.form-group input.form-control.amount {
    background-color: rgb(192, 247, 192)!important;
    font-weight: bold !important;
    font-size: large !important;
}
.form-control.local{
    background-color: rgb(192, 247, 192)!important;
    font-weight: bolder !important;
    font-size: larger !important; 
}
/* :host ::ng-deep .mat-form-field-outline{
    background:  #e9ecef !important;

 } */
 

 .fontstyles{
    font-family: Inter,"Source Sans Pro",Helvetica,Arial,sans-serif !important;
    font-size: 13px;
}


.inputs{
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    /* min-height: 33px; */
    align-items: center;
    border-radius: 0px;
    width: 100%;
    height:33px;
    max-height: 33px; 
  overflow-y: auto; 
}

.form-control.debit {
    background-color: rgb(192, 247, 192)!important;
    font-weight: bold !important;
    font-size: large !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
    color: black !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    background-color: #d6d9db !important;
}

#tabledata {
    text-transform: uppercase !important;
    padding: 9px !important;
    font-size: 10px !important;
    
}

.table thead th {
    font-size: 10px !important;
  }
  
@media (min-width: 1000px) and (max-width: 1800px) {
    .field-responsive#active {
      width: 102% !important;
      max-width: 105% !important; 
      overflow: visible !important;
    }
  }
  
  @media (min-width: 1701px) and (max-width: 1820px) {
    
    #tabledata {
      padding: 10px !important;
      font-size: 10px !important;
    }

    .table thead th {
        font-size: 11px !important;
      }
   
  }
  
  
  
  @media (min-width: 1601px) and (max-width: 1700px) {
  
    #tabledata{
      padding: 9px !important;
      font-size: 9px !important;
    }
   
    .table thead th {
        font-size: 10px !important;
      }
  }
  
  @media (min-width: 1498px) and (max-width: 1600px) {
    
    #tabledata {
      padding: 9px !important;
      font-size: 13px !important;
    }
  
    .table thead th {
        font-size: 8px !important;
      }
   
  }

  @media (min-width: 14198px) and (max-width: 16010px) {
  #tabledata {
      padding: 9px !important;
      font-size: 13px !important;
      width: 141px;
  }
  .table thead th {
      padding: 9px 13px !important;
      font-size: 13px !important;
  }
  .table td {
      padding: 0px 0px !important;
  }
}

@media (min-width: 1498px) and (max-width: 1600px) {
  #tabledata {
      padding: 9px !important;
      font-size: 13px !important;
      width: 141px;
  }
  .table thead th {
      padding: 9px 13px !important;
      font-size: 13px !important;
  }
  .table td {
      padding: 0px 0px !important;
  }
}
  
  
  @media (min-width: 1400px) and (max-width: 1498px) {
    
    #tabledata {
      padding: 8px !important;
      font-size: 8px !important;
    }
  
    .table thead th {
        font-size: 8px !important;
      }
  }
  
  @media (min-width: 800px) and (max-width: 1000px) {
  
    #tabledata {
      padding: 7px !important;
      font-size: 7px !important;
    }
  
    .table thead th {
      font-size: 8px !important;
    }
    
  }
  
  @media (min-width: 700px) and (max-width: 1399px) {
    
  
    #tabledata {
      padding: 10px !important;
      font-size: 6px !important;
    }
  
    .table thead th {
      font-size: 8px !important;
    }
  
  }
  
  
  @media (min-width: 857px) and (max-width: 1200px) {
  
    #tabledata{
      padding: 5px !important;
      font-size: 6px !important;
    }
  
    .table thead th {
      font-size: 8px !important;
    }
    
  }

  @media (min-width: 860px) and (max-width: 1045px) {
  
    #tabledata{
      padding: 3px !important;
      font-size: 5px !important;
    }
  
    .table thead th {
      font-size: 6px !important;
    }
    
  }


  @media (max-width: 1280px) {
    .table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > td {
    
        vertical-align: middle !important;
        font-size: 16px !important;
        max-width: 6rem !important;
    }
}