<div class="row headtitle">
    <div class="col-md-9 col-lg-9">
        <h4 style="margin-top: 6px;">Export Manager - Vessel Tasks</h4>
    </div>

    <div class="col-md-3 col-lg-3 alrt">
        <button type="button" class="btn btn-success btntop btn-raised bmd-btn-edit" [routerLink]="['/views/exportmanager/vessellevel/vessellevelview/vessellevelview/']"><i class="material-icons editicon">reply</i><div class="ripple-container"></div></button>
    </div>
</div>

<div class="row" style="margin-top: 2px; margin-bottom: 11px; background-color: lavender; padding: 11px; ">
    <div class="col-md-3">
        <div class="row" style="margin-top:5px;">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a [routerLink]="['/views/exportmanager/vessellevel/vessellevelview/vessellevelview/']">Vessel Tasks</a></li>
                        <li class="breadcrumb-item" aria-current="page" style="color:#000000;">Exception Handling</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6 alrt" style="font-weight: 600;">
                <div class="row">
                    <div class="col-md-12">
                        <small>Ves/Voy</small>
                    </div>
                    <div class="col-md-12">
                        <span>ACTUARIA</span>-<span>sdw</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 alrt" style="font-weight: 600;">
                <div class="row">
                    <div class="col-md-12">
                        <small>ETD</small>
                    </div>
                    <div class="col-md-12">
                        <span>
                            30 Sep 2022
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 alrt" style="font-weight: 600;">
                <div class="row">
                    <div class="col-md-12">
                        <small>Sailing Status</small>
                    </div>
                    <div class="col-md-12">
                        <span>
                            Pending/30 Sep 2022 19:00 Hrs
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="row bkgltab">
            <div class="col-md-12 col-lg-12">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-toggle="tab" [routerLink]="['/views/exportmanager/vessellevel/vsloadlist/vsloadlist/']" role="tab" aria-selected="false">Load List</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link " data-toggle="tab" role="tab" [routerLink]="['/views/exportmanager/vessellevel/vsprealert/vsprealert/']" aria-selected="false">Pre-Alert</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-toggle="tab" role="tab" [routerLink]="['/views/exportmanager/vessellevel/vsloadcnfrm/vsloadcnfrm/']" aria-selected="false">Loading Confirmation</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-toggle="tab" role="tab" [routerLink]="['/views/exportmanager/vessellevel/vsonboard/vsonboard/']" aria-selected="false">Customer Onboard Confirm</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" data-toggle="tab" role="tab" [routerLink]="['/views/exportmanager/vessellevel/vstdr/vstdr/']" aria-selected="false">Terminal Departure Report</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link active" data-toggle="tab" role="tab" [routerLink]="['/views/exportmanager/vessellevel/vsexphandling/vsexphandling/']" aria-selected="true">Exceptions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row headtitle mrgntp">
    <div class="col-md-12">
        <h6>Not Loaded Containers</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-12 conttable cntralign">
        <table id="datatable-buttons" cellpadding="0" cellspacing="0" class="table table-responsive table-striped table-bordered w-100 dataTable no-footer" role="grid" aria-describedby="datatable-buttons_info">
            <thead>
                <tr>
                    <th>Booking <br />or <br />BOL No </th>
                    <th>Inventory <br />Type </th>
                    <th>Cntr.<br /> No  </th>
                    <th>Container  <br />Size <br />&Type </th>
                    <th>TEUs </th>
                    <th>Cargo <br />Type </th>
                    <th>Load <br />Status </th>
                    <th>POD</th>
                    <th>FPOD</th>
                    <th>Principal</th>
                    <th>
                        Exception No
                    </th>
                    <th class="actwid chkth">Select</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td> </td>
                    <td>Local</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>General </td>
                    <td>Laden</td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="alc actwid">
                        <input type="checkbox" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="row">
    <div class="col-md-12 text-right">
        <button type="submit" (click)="ConfirmClick()" class="btn btn-danger btn-raised vspbtn mb-0">Raise Exceptions<div class="ripple-container"></div></button>
    </div>
</div>