<div class="row headtitle">
    <div class="col-md-9 col-sm-9 col-lg-9 col-xl-9">
        <h4>Master Data Management - Common Masters</h4>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 panelbox">
                <div class="panel panel-default">
                    <div class="panel-heading">Common Masters</div>
                    <div class="panel-body">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/country/countryview1']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Country Master</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/statemaster/statemasterview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  State Master</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/city/cityview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>   City Master</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/port/portview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Port Master</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/terminal/terminalview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Terminal Master</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/commodity/commodityview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> Commodity Master</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/cargopackage/cargopackageview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> Cargo Package Master</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/contypemaster/contypemasterview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> Container Type Master</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/uommaster/uommasterview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> UOM Master</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/storagelocationtype/storagelocationtypeview/storagelocationtypeview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> Storage Loaction Master</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 panelbox">
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-size: 16px;">
                        Party Management
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/partymaster/partymasterview']" style="font-size:14px; color:blue;"><i class="fa fa-angle-double-right"></i>  Customer Master</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/vendor/vendorview']" style="font-size:14px; color:blue;"><i class="fa fa-angle-double-right"></i>  Vendor Master</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/bol/bol']" style="font-size:14px; color:blue;"><i class="fa fa-angle-double-right"></i>  BOL Print</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
