<div class="row headtitle transcol" style="margin-bottom:6px;">
    <div class="col-md-9">
        <h4>Liner Agency</h4>
    </div>
    <div class="col-md-3">
        <select class="form-control my-select">
            <option value="0">Transactions</option>

        </select>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 panelbox">
                <div class="panel panel-default">
                    <div class="panel-heading">Sales</div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> My Prospects</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  My Customers</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/enquiries-booking/customercontract/customercontractview/customercontractview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Sales Call Planner & Report</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-md-4 panelbox">
                <div class="panel panel-default">
                    <div class="panel-heading">Export</div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/enquiries-booking/enquiries/enquiriesview/enquiriesview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> Customer Enquiry</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/enquiries-booking/rateapprovals/rateapprovalsview/rateapprovalsview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Principal Rate Approval</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/enquiries-booking/customercontract/customercontractview/customercontractview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Customer Contracts</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/enquiries-booking/booking/bookingview/bookingview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Booking and CRO</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>

                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/exportmanager/bookinglevel/bookinglevel']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Export Manager</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>

                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/exportmanager/bookinglevel/bookinglevelview/bookinglevelview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Booking Level Tasks</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>

                        <div class="col-md-12">
                            <button type="button" [routerLink]="['/views/exportmanager/vessellevel/vessellevelview/vessellevelview']" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Vessel Level Tasks</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 panelbox">
                <div class="panel panel-default">
                    <div class="panel-heading">Inventory</div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> Inventory Manager</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" [routerLink]="['/views/inventory/cntrpickupdrop/cntrpickupdrop']" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Container Pick/Drop</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" [routerLink]="['/views/inventory/cntrmovement/cntrmovementview/cntrmovementview']" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Container Movement(s)</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" [routerLink]="['/views/inventory/cntrmovementconfig/cntrmovementconfigview/cntrmovementconfigview']" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Movement Upload Configuration</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Repositioning</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Pre-Trip Inspection</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-md-4 panelbox">
                <div class="panel panel-default">
                    <div class="panel-heading">Vessel and Voyages</div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/LAmaster/vessel/vesselview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> Vessel Master</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/LAmaster/voyage/voyageview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> Voyage Master</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" style="font-size: 14px; color: blue" [routerLink]="['/views/slotmanagement/slotmanagementview/slotmanagementview']"><i class="fa fa-angle-double-right"></i>  Space Management</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> Dead Freight</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-md-4 panelbox">
                <div class="panel panel-default">
                    <div class="panel-heading">Import</div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> Import Manager</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Vessel Level Tasks</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  BOL Level Tasks</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-4 panelbox">
                <div class="panel panel-default">
                    <div class="panel-heading">Transshipment</div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> Transshipment Manager</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-4 panelbox">
                <div class="panel panel-default">
                    <div class="panel-heading">Accounting</div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> Account Payable Invoice </button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> Vessel Closure </button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i> Principal Accounting </button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>

                    </div>
                </div>

            </div>



        </div>
    </div>
</div>
