.save-disable---style{
    background-color: #2f4685 !important;
    border: 1px solid #2f4685 !important;
    opacity: .65 !important;
    cursor: pointer;
}
.final-disable--style{
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    opacity: .65 !important;
    cursor:pointer;
}
.form-control.local{
    background-color: rgb(192, 247, 192)!important;
    font-weight: bold !important;
    font-size: large !important;
}
div.form-group input.form-control.amount {
    background-color: rgb(192, 247, 192)!important;
    font-weight: bold !important;
    font-size: large !important;
}
:host ::ng-deep .mat-form-field-outline{
    background:  #e9ecef !important;

 }
 