




    <div class="row headtitle">
        <div class="col-md-9">
            <h4>Principal/Agency Agreement</h4>
        </div>
        <div class="col-md-3 alrt">
            <button type="button" class="btn btn-success btn-raised bmd-btn-edit btntop" [routerLink]="['/views/masters/LAmaster/Principalagency/Principaldetails/Principaldetails']"><i class="material-icons editicon">add</i><div class="ripple-container"></div></button>
        </div>
    </div>


    <div class="row">
        <div class="col-9">
            <div class="card m-b-30">
                <div class="card-body leftcard">
                    <div id="datatable-buttons_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="datatable-buttons" class="table table-striped table-bordered w-100 dataTable no-footer" role="grid" aria-describedby="datatable-buttons_info">
                                    <thead>
                                        <tr role="row">
                                            <th>
                                                S.No
                                            </th>
                                            <th class="sorting" (click)="sort('LineName')">
                                                Principal
                                            </th>
                                            <th class="sorting" (click)="sort('CountryName')">
                                                Country Name
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr *ngFor="let dataItem of pagedItems;let i = index">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ dataItem.LineName }}</td>
                                            <td>{{ dataItem.CountryName }}</td>
                                            <td>
                                                <button class="btn btn-success bmd-btn-fab" (click)="OnClickEdit(dataItem.ID)"><i class="material-icons">edit</i></button>

                                            </td>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row page">
                            <ul *ngIf="pager.pages && pager.pages.length && pager.totalItems > 10" class="pagination">
                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a (click)="setPage(1)">First</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                                </li>
                                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                    <a (click)="setPage(page)">{{page}}</a>
                                </li>
                                <li *ngIf="(pager.totalPages - pager.startPage) > 5 ">
                                    <a (click)="setPage(pager.startPage + 5)">...</a>
                                </li>
                                <li *ngIf="(pager.totalPages - pager.startPage) > 5">
                                    <a (click)="setPage(pager.totalPages)">{{pager.totalPages}}</a>
                                </li>

                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a (click)="setPage(pager.totalPages)">Last</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <form [formGroup]="viewForm">
                <div class="card m-b-30 sidesearch">
                    <div class="card-body cpad">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <input type="text" formControlName="LineName" id="LineName" class="form-control" placeholder="Principal Name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <select class="form-control my-select" id="ddlCountryV" formControlName="CountryID">
                                        <option value="0">Country</option>
                                        <option *ngFor="let gRow of dscountryItem" [value]="gRow.ID">
                                            {{gRow.CountryName}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12 searchbtn alrt">
                                <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-raised mb-0">Search<div class="ripple-container"></div></button>
                                <button type="submit" (click)="clearSearch()" class="btn btn-raised btn-danger mb-0">Clear<div class="ripple-container"></div></button>
                            </div>


                        </div>
                    </div>
                </div>
            </form>
</div>
    </div>

