<div class="p-4">
    <div class="row headtitle">
        <div class="col-9 d-flex justify-content-between">
            <span class="mt-auto">
                <h4 style="color:#003d79;">Payment Request</h4>
            </span>
           
            <button (click)="CreateNew()" class="btn btn-success btn-raised bmd-btn-edit">
                <i class="material-icons editicon">add</i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <span class="con">Open Request(s)</span> : <span style="font-weight:600; color: red; font-size: 20px;">
                {{openRequestDetails.length > 0 ? openRequestDetails[0].OpenRequest: ''}}
            </span>
        </div>
        <div class="col">
            <span class="con">Open Request(s) Amount </span> : <span style="font-weight:600; color: red;font-size: 20px;">
                INR {{openRequestDetails.length > 0 ? openRequestDetails[0].OpenRequestAmount : ''}}
            </span>
        </div>
    </div>
    <div class="pt-2"></div>
    <div class="row">
        <!-- Table View -->
        <div class="col-sm-12 col-md-9">
            <div class=" mr-3 card">
                <div class="row">
                    <div class="col-12 ">
                        <table class="table table-responsive table-bordered w-100 table-striped  p-3 mt-3 border-0">
                            <thead class="text-center">
                                <tr role="row">
                                    <th class="align-middle" id="th1" rowspan="2" colspan="1" tabindex="0">
                                        PR Number
                                    </th>
                                    <th class="align-middle" id="th2" rowspan="2" colspan="1">
                                        PR Date/Time
                                    </th>
                                    <th class="align-middle" id="th3" rowspan="2" colspan="1">
                                        Division
                                    </th>
                                    <th class="align-middle" id="th4" rowspan="2" colspan="1">
                                        Office
                                    </th>
                                    <th class="align-middle" id="th5" rowspan="2" colspan="1">
                                        Requester
                                    </th>
                                    <th class="align-middle" id="th6" rowspan="2" colspan="1">
                                        Vendor
                                    </th>
                                    <th class="align-middle" id="th7" rowspan="2" colspan="1">
                                        Amount
                                    </th>
                                    <th class="align-middle" id="th8" rowspan="2" colspan="1">
                                        Status
                                    </th>
                                    <th class="align-middle" id="th9" rowspan="2" colspan="1">
                                        Payment Date
                                    </th>
                                </tr>
                             
                            </thead>
                            <tbody class="text-center">
                                <ng-container *ngIf="pagedItems.length > 0 else noRecord">
                                    <tr *ngFor="let payment of pagedItems">
                                        <td (click)="EditInfo(payment.PaymentRequestId)" style="color: #0366d6;cursor: pointer;">
                                            <a>{{payment.PRNumber}}</a>
                                        </td>
                                        <td>{{payment.RequestDateAndTime | date:'dd-MM-yyyy | HH:MM:SS' }}</td>

                                        <td [title]="payment.Division | uppercase">
                                            {{ (payment.Division && payment.Division.length > 20) ?payment.Division.slice(0, 20) + '-' : payment.Division }}
                                          </td>
                                        <!-- <td>{{payment.Division}}</td> -->
                                        <td [title]="payment.Office | uppercase">
                                            {{ (payment.Office && payment.Office.length > 20) ?payment.Office.slice(0, 20) + '-' : payment.Office }}
                                          </td>
                                       
                                       <td>{{payment.Requester}}</td>

                                       <td [title]="payment.VendorName | uppercase">
                                        {{ (payment.VendorName && payment.VendorName.length > 20) ?payment.VendorName.slice(0, 20) + '-' : payment.VendorName }}
                                      </td>
                                     
                                        <td>{{payment.Amount}}</td>
                                        <td>
                                            <div [ngClass]="payment.Status == 'Payment Processed' ? 'badge badge-state-confirm' : payment.Status == 'Approved' ?'badge badge-state-confirm': 
                                            payment.Status == 'Rejected' ? 'badge badge-state-cancel' : payment.Status == 'Pending Payment' ? 'badge badge-state-pending':payment.Status == 'Pending Approval' ? 'badge badge-state-pending': payment.Status == null ? '' : 'badge badge-state'">
                                                {{payment.Status}}
                                            </div>
                                        </td>
                                        <td>{{ payment.PaymentDate ? (payment.PaymentDate | date: commonDataService.convertToLowerCaseDay(entityDateFormat)) : '-' }}</td>
                                    </tr>
                                </ng-container>
                                <ng-template #noRecord>
                                    <tr>
                                        <td class="text-center" colspan="9" style="height: 100px;">No Records Found</td>
                                    </tr>
                                </ng-template>
                                
                            </tbody>
                        </table>
                    </div>

                </div>

                <div style="justify-content: end;" class="row page w-100">
                    <ul *ngIf="pager.pages && pager?.pages?.length && pager.totalItems > 10"  class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="setPage(page)">{{page}}</a>
                        </li>
                        <li *ngIf="(pager.totalPages - pager.startPage) > 5 ">
                            <a (click)="setPage(pager.startPage + 5)">...</a>
                        </li>
                        <li *ngIf="(pager.totalPages - pager.startPage) > 5">
                            <a (click)="setPage(pager.totalPages)">{{pager.totalPages}}</a>
                        </li>

                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.currentPage + 1)">Next</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Filter -->
        <div class="col-sm-12 col-xs-12 col-md-3">
            <form [formGroup]="paymentRequestFilter" class="card p-4">
                <div class="row pt-4">
                    <div class="col-12">
                        <div class="form-group bmd-form-group w-100">
                            <!-- <select  class="form-control my-select" formControlName="DivisionId">
                                <option [value]="0" disabled>--SELECT DIVISION--</option>
                                <ng-container *ngFor="let division of divisionList">
                                    <option *ngIf="division.Active" [value]="division.ID">
                                        {{division.DivisionName | uppercase}}
                                    </option>
                                </ng-container>
                            </select> -->
                            <ng-select  class="searchdropdown"  formControlName="DivisionId" [clearable]="false">
                                <ng-option [value]="0" disabled>--SELECT DIVISION--</ng-option>
                                <ng-container  *ngFor="let division of divisionList">
                                  <ng-option *ngIf="division.Active"  [value]="division.ID">
                                    <span class="textwrap">{{division.DivisionName | uppercase}}</span>
                                  </ng-option>
                               </ng-container>
                            </ng-select>     
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group bmd-form-group w-100">
                            <!-- <select class="form-control my-select" formControlName="OfficeId">
                                <option [value]="0" disabled>--SELECT OFFICE--</option>
                                <ng-container *ngFor="let office of officeList">
                                    <option [value]="office.ID">
                                        {{office.OfficeName | uppercase}}
                                    </option>
                                </ng-container>
                            </select> -->
                            <ng-select  class="searchdropdown"  formControlName="OfficeId" [clearable]="false">
                                <ng-option [value]="0" disabled>--SELECT OFFICE--</ng-option>
                                <ng-container *ngFor="let office of officeList">
                                  <ng-option  [value]="office.ID">
                                    <span class="textwrap"> {{office.OfficeName | uppercase}}</span>
                                  </ng-option>
                               </ng-container>
                            </ng-select>     
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group bmd-form-group">
                            <!-- <select formControlName="VendorId" class="form-control my-select">
                            <option disabled  [value]="0">--SELECT VENDOR CODE--</option>
                            <option *ngFor="let group of vendarList"
                                [value]="group.VendorID">
                                {{group.VendorCode | uppercase}} -- {{group.VendorName | uppercase}}
                            </option>
                        </select> -->
                        <ng-select  class="searchdropdown"  formControlName="VendorId" [clearable]="false">
                            <ng-option [value]="0" disabled>--SELECT VENDOR CODE--</ng-option>
                            <ng-container *ngFor="let group of vendarList">
                              <ng-option  [value]="group.VendorID">
                                <span class="textwrap">{{group.VendorCode | uppercase}} -- {{group.VendorName | uppercase}}</span>
                              </ng-option>
                           </ng-container>
                        </ng-select>    
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group bmd-form-group">
                            <input type="text"  class="form-control my-select" placeholder="Payment Request #" formControlName="PRNumber" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group bmd-form-group">
                            <input type="text" class="form-control my-select"
                            placeholder="Requester" formControlName="Requester"/>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group bmd-form-group w-100">
                            <!-- <select class="form-control my-select" formControlName="Status">
                                <option value="" disabled>--REQUEST STATUS--</option>
                               
                            </select> -->
                            <!-- <select class="form-control my-select" formControlName="Status">
                                <option [value]="0" disabled>--SELECT STATUS--</option>
                                <ng-container *ngFor="let status of requestStatus">
                                    <option [value]="status.Id">
                                        {{status.Status | uppercase}}
                                    </option>
                                </ng-container>
                            </select> -->
                    <ng-select class="searchdropdown" [clearable]="false" [formControlName]="'Status'">
                       <ng-option [value]="0" disabled>--SELECT STATUS--</ng-option>
                         <ng-option *ngFor="let status of requestStatus" [value]="status.Id">
                         <span class="textwrap">{{status.Status | uppercase}}</span>
                      </ng-option>
                    </ng-select> 
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top: -7px;">
                        <label class="dateLabel">Payment Request Date</label>
                        <div class="form-group bmd-form-group">
                            <div class="row">
                               <div class="col-6">
                                 <label class=" mb-3">From</label>
                                   <div class="input-group">                                
                                       <mat-form-field class="tillDate  mat_date_picker"  appearance="outline" >
                                         <input matInput (click)="StartDate.open()" readonly autocomplete="off" [matDatepicker]="StartDate"  [max]="validTillMinDate" id="StartDate" [placeholder]="entityDateFormat" formControlName="StartDate">
                                         <mat-datepicker-toggle matSuffix [for]="StartDate"></mat-datepicker-toggle>
                                         <mat-datepicker #StartDate></mat-datepicker>
                                       </mat-form-field>

                                       <!-- <input type="date" class="w-100 p-0"
                                       placeholder=" Receipt Voucher Date" formControlName="RequestDateAndTime" /> -->
                                    </div>
                                </div>  
                                <div class="col-6">
                                    <label class=" mb-3">Till</label>
                                   <div class="form-group bmd-form-group">
                                       <mat-form-field class="tillDate  mat_date_picker"  appearance="outline">
                                             <input matInput autocomplete="off" (click)="EndDate.open()" readonly [matDatepicker]="EndDate" [min]="paymentRequestFilter.get('StartDate').value" id="EndDate" [placeholder]="entityDateFormat" formControlName="EndDate">
                                             <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
                                           <mat-datepicker #EndDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                    <!-- <div class="col-md-12" style="margin-top: -27px;">
                        <label class="dateLabel">Completion Date</label>
                        <div class="form-group bmd-form-group">
                            <div class="row">
                                <div class="col-6">
                                   <label class=" mb-3">From</label>
                                       <div class="input-group">
                                           <mat-form-field class="tillDate  mat_date_picker"  appearance="outline" >
                                              <input matInput autocomplete="off" (click)="CompletionStartDate.open()" readonly [matDatepicker]="CompletionStartDate"  id="CompletionStartDate" [max]="validTillMinDate" [placeholder]="entityDateFormat" formControlName="CompletionStartDate">
                                              <mat-datepicker-toggle matSuffix [for]="CompletionStartDate"></mat-datepicker-toggle>
                                              <mat-datepicker #CompletionStartDate></mat-datepicker>
                                            </mat-form-field>
                                            
                                        </div>
                                </div>  
                                <div class="col-6">
                                    <label class=" mb-3">Till</label>
                                   <div class="form-group bmd-form-group">      
                                       <mat-form-field class="tillDate  mat_date_picker" appearance="outline" >
                                          <input matInput autocomplete="off" (click)="CompletionEndDate.open()" readonly [matDatepicker]="CompletionEndDate" [min]="paymentRequestFilter.get('PaymentDate').value" id="CompletionEndDate" [placeholder]="entityDateFormat" formControlName="CompletionEndDate">
                                          <mat-datepicker-toggle matSuffix [for]="CompletionEndDate"></mat-datepicker-toggle>
                                          <mat-datepicker #CompletionEndDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                 -->
                    <div class="col-md-12 searchbtn alrt text-center mb-3 mt-3">
                        <button type="submit" style="padding: 2px 0px !important;width: 40%;font-size: 14px !important;"
                             class="btn btn-primary btn-raised mb-0" (click)="filterPaymentRequest()">
                            Search
                        </button>
                        <button style="padding: 2px 0px !important;width: 40%;font-size: 14px !important;"
                            class="btn btn-raised btn-danger mb-0" (click)="clearFilterPayment()">
                            Clear
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>