<div class="container-fluid card p-4">
  <div class="row mt-2">
    <div class="col-8">
      <span class="con">Total Open Request</span> : 
      <span style="font-weight: 600; color: red; font-size: 18px"> {{ this.totalOpenRequest }} </span>

      
    </div>

    <div class="col-2">
      <div class="d-flex">
        <div class="w-100 pr-2">
          <div style="display: flex; align-items: center">
            <div>
              <button
                type="submit"
                class="btn btn-raised btn-primary btn-default cntbtn"
              >
                List Invoice Wise
              </button>
            </div>
            <div style="margin: 0px 10px">
              <mat-checkbox type="checkbox"
                class="checkBox" [(ngModel)]="this.isChecked"
                (click)="ListInvoiceWise()"
              ></mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2" style="margin-bottom: 20px">
    <div class="col-12">
      <span class="con">Amount</span> : 
      <span *ngIf="!isListWise"  style="font-weight: 600; color: red; font-size: 18px"> {{ this.amount }} </span>
      <span *ngIf="isListWise" style="font-weight: 600; color: red; font-size: 18px"> {{this.totalOpenRequestListAmount}} </span>
    </div>
  </div>

  <form [formGroup]="openRequestDropdownForm">
    <div class="row pb-4 mb-4">
      <div class="col-2">
        <div class="d-flex">
          <div class="w-100 pr-2">
            <ng-select
              class="searchdropdown"
              formControlName="DivisionId"
              [clearable]="false"
            >
              <ng-option [value]="0" disabled>--SELECT DIVISION--</ng-option>
              <ng-container *ngFor="let division of divisionList">
                <ng-option [value]="division.ID">
                  <span class="textwrap">{{
                    division.DivisionName | uppercase
                  }}</span>
                </ng-option>
              </ng-container>
            </ng-select>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="d-flex">
          <div class="w-100 pr-2">
            <ng-select
              class="searchdropdown"
              formControlName="OfficeId"
              [clearable]="false"
            >
              <ng-option [value]="0" disabled>--SELECT OFFICE--</ng-option>
              <ng-container *ngFor="let office of officeList">
                <ng-option [value]="office.ID">
                  <span class="textwrap">{{
                    office.OfficeName | uppercase
                  }}</span>
                </ng-option>
              </ng-container>
            </ng-select>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="d-flex">
          <div class="w-100 pr-2">
            <ng-select
              class="searchdropdown"
              [clearable]="false"
              formControlName="VendorId"
              name="active"
              id="active"
            >
              <ng-option [value]="0" disabled>--SELECT VENDOR--</ng-option>
              <ng-option
                *ngFor="let vendor of vendorsList"
                [value]="vendor.VendorID"
              >
                <span class="textwrap">
                  {{ vendor.VendorName | uppercase }}</span
                >
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="d-flex">
          <div class="w-100 pr-2">
            <input
            onkeypress='return event.charCode >= 48 && event.charCode <= 57' [ngClass]="{'placeholder-small': true}"
            min="0"
              placeholder="ENTER AMOUNT"
              name="amount"
              autocomplete="off"
              class="form-control"
              formControlName="Amount"
              numbersOnly RemoveSpecialChars
            />
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="d-flex">
          <div class="w-100 pr-2">
            <ng-select
              class="searchdropdown"
              formControlName="RequestPriority"
              [clearable]="false"
            >
              <ng-option [value]="0" disabled
                >--SELECT REQUESTER TYPE--</ng-option
              >
              <ng-container *ngFor="let priority of priorityRequest">
                <ng-option [value]="priority.Id">
                  <span class="textwrap">{{
                    priority.PaymentPriority | uppercase
                  }}</span>
                </ng-option>
              </ng-container>
            </ng-select>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 alrt">
        <button
          type="submit"
          style="width: 100px"
          (click)="search()"
          class="btn btn-raised btn-primary btn-default cntbtn mb-0"
        >
          Search
        </button>
        <button
          type="button"
          style="width: 100px"
          (click)="clear()"
          class="btn btn-danger btn-raised cntbtn mb-0"
        >
          Clear
        </button>
      </div>
    </div>
  </form>

  <form [formGroup]="openRequestForm">
    <div class="row">
      <div class="col-3">
        <label class="str">Bank</label><br />
        <div class="d-flex">
          <div class="w-100 pr-2">
            <ng-select
              class="searchdropdown custom"
              formControlName="BankId"
              [clearable]="false"
            >
              <ng-option [value]="0" [disabled]="true"
                >--SELECT BANK--</ng-option
              >
              <ng-option *ngFor="let bank of bankList" [value]="bank.BankID">
                {{ bank.BankName | uppercase }} - {{ bank.AccountNo }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>

      <div class="col-3">
        <label class="str mb-2">Payment Date</label><br />
        <div class="d-flex">
          <div class="w-100 pr-2">
            <mat-form-field
              class="tillDate mat_date_picker"
              appearance="outline"
            >
              <input
                matInput
                (click)="FromDate.open()"
                readonly
                formControlName="PaymentDate"
                autocomplete="off"
                class="py-0 w-100 pr-2"
                (click)="FromDate.open()"
                [matDatepicker]="FromDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="FromDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #FromDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- {{invoiceResultArray | json}} -->
      <div class="col-3">
        <label>Amount</label><br />
        <div class="d-flex">
          <input style="font-size: 15px;" class="textInput"
           [(ngModel)]="sumWithInitial"
           formControlName="Amount"
            autocomplete="off"
            class="form-control"
            readonly
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <table
          id="bankSummaryTable"
          class="table table-responsive table-bordered w-100 table-striped border-0 agingTable mt-2 text-center"
        >
          <thead>
            <tr>
              <th scope="col">PR Number</th>
              <th scope="col">PR Date / Time</th>
              <th scope="col">Division</th>
              <th scope="col">Requester</th>
              <th scope="col">Vendor</th>
              <th *ngIf="isListWise" scope="col">Purchase Invoice #</th>
              <th *ngIf="isListWise" scope="col">Vendor Invoice #</th>
              <th  scope="col">Amount</th>
              <th scope="col">Select</th>
            </tr>
          </thead>
          <tbody>
            <ng-container>
              <ng-container
                *ngFor="let data of pagedItems; let i = index"
              >
                <tr>
                  <td class="text-center">{{ data.PRNumber }}</td>
                  <td class="text-center">{{ data.RequestDateAndTime | date:'dd-MM-yyyy | HH:MM:SS' }}</td>
                  <td class="text-center">{{ data.DivisionName }}</td>
                  <td class="text-center">{{ data.Requester }}</td>
                  <td class="text-center">{{ data.VendorName }}</td>
                  <td *ngIf="isListWise" class="text-center">
                    {{ data.PurchaseInvoice }}
                  </td>
                  <td *ngIf="isListWise" class="text-center">
                    {{ data.VendorInvoice }}
                  </td>
                  <td *ngIf="isListWise" class="text-center">
                    {{ data.PurchaseInvoiceAmount }}
                  </td>
                  <td *ngIf="!isListWise" class="text-center">
                    {{ data.PaymentRequestAmount }}
                  </td>
                  <!-- <td class="text-center">
                      <input
                        class="vertal checkbox"
                        type="radio"
                        name="AlertCheck"
                        id="RadioCheck"
                      />
                    </td> -->

                  <td *ngIf="!isListWise">
                    <input
                      type="checkbox"
                      [value]="data"
                      (change)="selectPR($event, data)"
                   
                    />
                  </td>

                  <td *ngIf="isListWise">
                    <input
                      type="checkbox"
                      [value]="data"
                      (change)="selectInvoice($event, data)"
                      
                    />
                  </td>
                </tr>
              </ng-container>
            </ng-container>
            <!-- no data -->
            <ng-template #noRecord>
              <tr>
                <td class="text-center" colspan="7" style="height: 100px">
                  No records found
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-12 alrt">
      <button
        type="submit"
        (click)="Submit()"
        class="btn btn-raised btn-primary btn-default cntbtn mb-0"
      >
        Proceed for Payment
      </button>
    </div>
  </div>
<div>
    <div class="row page mr-2 mt-3" align="right">
      <ul *ngIf="pager?.pages && pager.pages?.length && pager.totalItems > 10" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li *ngIf="(pager.totalPages - pager.startPage) > 5 ">
              <a (click)="setPage(pager.startPage + 5)">...</a>
          </li>
          <li *ngIf="(pager.totalPages - pager.startPage) > 5">
              <a (click)="setPage(pager.totalPages)">{{pager.totalPages}}</a>
          </li>

          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)">Last</a>
          </li>
      </ul>
  </div>
</div>
</div>
