<div class="container-fluid">

    <div class="row headtitle rotle mt-1">
        <div class="col-md-9">
            <h4 class="ml-2 mt-2">Voucher Reversals</h4>
        </div>
        <div class="col-md-3 alrt">
            <button type="button" class="btn btn-success btn-raised bmd-btn-edit btntop" tabindex="0"
                (click)="createVOucher()">
                <i class="material-icons editicon">add</i>
                <div class="ripple-container">
                </div>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 mt-2">
            <div class="card m-b-30">
                <div class="card-body cpad enqview">
                    <div class="col-sm-12 ">
                        <table class="table table-responsive table-striped table-bordered w-100 dataTable no-footer">
                            <thead>
                                <tr>
                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1"
                                        colspan="1" aria-label="Name: activate to sort column ascending"
                                        style="width: 177.575px;" (click)="sort('ReversalReference')">VR Number</th>

                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1"
                                        colspan="1" aria-label="Name: activate to sort column ascending"
                                        style="width: 177.575px;" (click)="sort('DateOfReversal')">VR Date </th>

                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1"
                                        colspan="1" aria-label="Name: activate to sort column ascending"
                                        style="width: 177.575px;" (click)="sort('VoucherName')">Voucher Type</th>

                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1"
                                        colspan="1" aria-label="Name: activate to sort column ascending"
                                        style="width: 177.575px;" (click)="sort('Voucher')">Voucher #</th>

                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1"
                                        colspan="1" aria-label="Name: activate to sort column ascending"
                                        style="width: 177.575px;" (click)="sort('Party')">Party</th>

                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1"
                                        colspan="1" aria-label="Name: activate to sort column ascending"
                                        style="width: 177.575px;" (click)="sort('Status')">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of pagedItems">
                                    <td (click)="voucherInfoRoute(data.Id)" style="color: #0366d6;cursor: pointer;">
                                        {{data.ReversalReference}}</td>
                                    <td>{{data.DateOfReversal | date : commonDataService.convertToLowerCaseDay(entityDateFormat)}}</td>
                                    
                                    <td>
                                        {{ (data.VoucherName && data.VoucherName.length > 30) ?data.VoucherName.slice(0, 30) + '-' : data.VoucherName }}
                                      </td>
                                    
                                    <!-- <td>{{data.VoucherName}}</td> -->
                                    <td>{{data.Voucher}}</td>
                                    
                                    <td [title]="data.Party | uppercase">
                                        {{ (data.Party && data.Party.length > 30) ?data.Party.slice(0, 30) + '-' : data.Party || '-' }}
                                      </td>
                                    <!-- <td>{{data.Party}}</td> -->

                                    <td><div
                                    [ngClass]="data.Status == 'Reversed' ? 'badge badge-state-confirm' : data.Status == 'Cancelled' ? 'badge badge-state-cancel' : 'badge badge-state'">
                                        {{data.Status}}</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- <div class="row page" align="right mr-3">
                        <ul *ngIf="pager.pages && pager.pages.length && pager.totalItems > 10" class="pagination">
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="setPage(1)">First</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                <a (click)="setPage(page)">{{page}}</a>
                            </li>
                            <li *ngIf="(pager.totalPages - pager.startPage) > 5 ">
                                <a (click)="setPage(pager.startPage + 5)">...</a>
                            </li>
                            <li *ngIf="(pager.totalPages - pager.startPage) > 5">
                                <a (click)="setPage(pager.totalPages)">{{pager.totalPages}}</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.currentPage + 1)">Next</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
                    </div> -->


                    <div class="row page" align="right">
                        <ul *ngIf="pager.pages && pager.pages.length && pager.totalItems > 10" class="pagination">
                            <li [ngClass]="{disabled: pager.currentPage === 1}">
                                <a (click)="setPage(1)">First</a>
                            </li>
                            <li [ngClass]="{disabled: pager.currentPage === 1}">
                                <a (click)="setPage(pager.currentPage > 1 ? pager.currentPage - 1 : 1)">Previous</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active: pager.currentPage === page}">
                                <a (click)="setPage(page)">{{ page }}</a>
                            </li>
                            <li *ngIf="(pager.totalPages - pager.startPage) > 5 ">
                                <a (click)="setPage(pager.startPage + 5)">...</a>
                            </li>
                            <li *ngIf="(pager.totalPages - pager.startPage) > 5">
                                <a (click)="setPage(pager.totalPages)">{{ pager.totalPages }}</a>
                            </li>
                            <li [ngClass]="{disabled: pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.currentPage < pager.totalPages ? pager.currentPage + 1 : pager.totalPages)">Next</a>
                            </li>
                            <li [ngClass]="{disabled: pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
                    </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                </div>
            </div>
        </div>

        <div class="col-md-3 mt-2">
            <div class="card p-1 pt-4 pb-4 ">
                <form [formGroup]="voucherFilter" class="mt-1 mb-1">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <div class="form-group bmd-form-group">
                            <input formControlName="ReversalReference" type="text" autocomplete="off"
                                class="form-control" name="Reference" placeholder="Reversal Reference #" maxlength="20">
                        </div>
                    </div>

                    <!-- <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <div class="form-group bmd-form-group">
                            <input formControlName="DateOfReversal" type="date" class="form-control" name="date">
                        </div>
                    </div> -->
                    <div class="col-md-12" style="margin-top: -7px;">
                        <div class="form-group bmd-form-group">
                           <div class="row">
                                <div class="col-md-6">
                                 <label class=" mb-3">From</label>
                                    <div class="input-group">
                                        <mat-form-field class="tillDate mat_date_picker"  appearance="outline">
                                            <input matInput (click)="StartDate.open()" readonly autocomplete="off" [max]="validTillMinDate" [matDatepicker]="StartDate"  id="StartDate"
                                            [placeholder]="entityDateFormat"formControlName="StartDate">
                                            <mat-datepicker-toggle matSuffix [for]="StartDate"></mat-datepicker-toggle>
                                            <mat-datepicker #StartDate></mat-datepicker>
                                        </mat-form-field>
                                      <!-- <input formControlName="StartDate" (change)="voucherEvent($event.target.value)" [max]="minDate"  type="date" class="form-control" /> -->
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                    <label class=" mb-3">Till</label>
                                   <div class="input-group">
                                    <mat-form-field class="tillDate mat_date_picker"  appearance="outline">
                                        <input matInput (click)="EndDate.open()" readonly autocomplete="off" [min]="voucherFilter.get('StartDate').value"  [matDatepicker]="EndDate"  id="EndDate"
                                        [placeholder]="entityDateFormat" formControlName="EndDate">
                                        <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
                                        <mat-datepicker #EndDate></mat-datepicker>
                                    </mat-form-field>
                                     <!-- <input formControlName="EndDate " [min]="validTillMinDate" type="date" class="form-control"/> -->
                                    </div>
                                 </div>
                             </div>
                         </div>
                     </div>

                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <div class="form-group bmd-form-group">
                            <!-- <select formControlName="VoucherTypeId" class="form-control" name="Voucher" id="Voucher">
                                <option value="0" disabled>--SELECT VOUCHER TYPE--</option>
                                <option *ngFor="let data of dropDownListVoucherList" [value]="data.Id">
                                    {{data.VoucherName}}
                                </option>
                            </select> -->
                            <ng-select class="searchdropdown custom" [formControlName]="'VoucherTypeId'" [clearable]="false" name="VoucherTypeId" id="Voucher">
                                <ng-option [value]="0" [disabled]="true">--SELECT VOUCHER TYPE--</ng-option>
                                <ng-option *ngFor="let data of dropDownListVoucherList"  [value]="data.Id">
                                    <span class="textwrap">{{data.VoucherName}}</span>
                                </ng-option> 
                            </ng-select>  
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <div class="form-group bmd-form-group">
                            <input formControlName="VoucherNumber" type="text" autocomplete="off" class="form-control"
                                name="Voucher" placeholder="Voucher #" maxlength="20">
                        </div>
                    </div>

             

                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <div class="form-group bmd-form-group">
                            <!-- <select formControlName="Status" class="form-control" name="active" id="active">
                                <option value="0" disabled>--SELECT STATUS--</option>
                                <option *ngFor="let data of dropDownListStatus" [value]="data.Id">{{data.StatusName}}
                                </option>
                            </select> -->
                            <ng-select class="searchdropdown custom" [formControlName]="'Status'" [clearable]="false" name="active" id="active">
                                <ng-option [value]="0" disabled>--SELECT STATUS--</ng-option>
                                <ng-option *ngFor="let data of dropDownListStatus" [value]=data.Id>
                                    <span class="textwrap">{{data.StatusName | uppercase}}</span>
                                </ng-option>
                            </ng-select> 
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 searchbtn alrt text-center mb-3 mt-3">
                        <button (click)="getAllVoucherList();"
                            style="padding: 2px 0px !important;width: 40%;font-size: 14px !important;" type="submit"
                            class="btn btn-primary btn-raised mb-0">Search<div class="ripple-container"></div></button>
                        <button (click)="createVoucherReversalFilter();getAllVoucherList();"
                            style="padding: 2px 0px !important;width: 40%;font-size: 14px !important;"
                            class="btn btn-raised btn-danger mb-0">Clear
                            <div class="ripple-container">
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>