<div class="container-fluid">

    <div class="row headtitle rotle mt-1">
        <div class="col-md-9">
            <h4 class="ml-2 mt-2">Provision </h4>
        </div>
        <div class="col-md-3 alrt">
            <button type="button" class="btn btn-success btn-raised bmd-btn-edit btntop" tabindex="0"
                (click)="createProvision()">
                <i class="material-icons editicon">add</i>
                <div class="ripple-container">
                </div>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 mt-2">
            <div class="card m-b-30">
                <div class="card-body cpad enqview">
                    <div class="col-sm-12 ">
                        <table class="table table-responsive table-striped table-bordered w-100 dataTable no-footer"
                            style="text-align-last: center;">
                            <thead>
                                <tr>
                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1"
                                        colspan="1" aria-label="Name: activate to sort column ascending"
                                        style="width: 177.575px;">Provision No
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1"
                                        colspan="1" aria-label="Name: activate to sort column ascending"
                                        style="width: 177.575px;">Date </th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1"
                                        colspan="1" aria-label="Name: activate to sort column ascending"
                                        style="width: 177.575px;">Provision Amount</th>

                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1"
                                        colspan="1" aria-label="Name: activate to sort column ascending"
                                        style="width: 177.575px;">Cost Booked So far </th>

                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1"
                                        colspan="1" aria-label="Name: activate to sort column ascending"
                                        style="width: 177.575px;">Balance</th>

                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1"
                                        colspan="1" aria-label="Name: activate to sort column ascending"
                                        style="width: 177.575px;">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of pagedItems">
                                    <td (click)="ProvisionInfo(data.ProvisionId)"  style="color: #0366d6;cursor: pointer;">
                                        {{data.ProvisionNumber}}</td>
                                    <td>{{data.ProvisionDate | date :
                                        commonDataService.convertToLowerCaseDay(entityDateFormat)}}</td>
                                    <td>{{data.Amount}}</td>

                                    <td [title]="data.VendorName | uppercase">
                                       {{data.CostBookedSofar}}
                                    </td>
                                    <td>{{data.Balance}}</td>
                                    <td>                                      
                                        <div
                                            [ngClass]="data.Status == 'Complete' ? 'badge badge-state-confirm' : data.Status == 'Closed' ? 'badge badge-state-pending' : 'badge badge-state'">
                                            {{data.Status}}
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="row page mr-3" align="right">
                        <ul *ngIf="pager.pages && pager.pages.length && pager.totalItems > 10 && pager.totalItems > 10"
                            class="pagination">
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="setPage(1)">First</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                <a (click)="setPage(page)">{{page}}</a>
                            </li>
                            <li *ngIf="(pager.totalPages - pager.startPage) > 5 ">
                                <a (click)="setPage(pager.startPage + 5)">...</a>
                            </li>
                            <li *ngIf="(pager.totalPages - pager.startPage) > 5">
                                <a (click)="setPage(pager.totalPages)">{{pager.totalPages}}</a>
                            </li>

                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.currentPage + 1)">Next</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>

        <div class="col-md-3 mt-2">
            <div class="card p-1 pt-4 pb-4 ">
                <form [formGroup]="provisionFilter" class="mt-1 mb-1">


                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <div class="form-group bmd-form-group w-100">
                            <label class=" fontstyles">Division</label>
                            <ng-select class="searchdropdown custom" formControlName="Division"  [clearable]="false">
                                <ng-option [value]="0" disabled>--SELECT DIVISION TYPE--</ng-option>
                                <ng-container *ngFor="let division of divisionList">
                                    <ng-option *ngIf="division.Active" [value]="division.ID">
                                        {{division.DivisionName | uppercase}}
                                    </ng-option>
                                </ng-container>
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <div class="form-group bmd-form-group">
                            <!-- <select formControlName="Office" class="form-control" name="CategoryId" id="CategoryId">
                                <option value="0" disabled>--SELECT OFFICE--</option>
                                <option *ngFor="let office of officeList" [value]="office.ID">
                                    {{office.OfficeName | uppercase}}
                                </option>
                            </select> -->
                            <ng-select class="searchdropdown" formControlName="Office" [clearable]="false"
                                name="CategoryId" id="CategoryId">
                                <ng-option [value]="0" disabled>--SELECT OFFICE--</ng-option>
                                <ng-container *ngFor="let office of officeList">
                                    <ng-option [value]="office.ID">
                                        <span class="textwrap">{{office.OfficeName | uppercase}}</span>
                                    </ng-option>
                                </ng-container>
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <div class="form-group bmd-form-group">
                            <input formControlName="PINumber" type="text" autocomplete="off" class="form-control"
                                name="Reference" placeholder="PV NUMBER #" maxlength="20">
                        </div>
                    </div>
                   
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <div class="form-group bmd-form-group">
                            <input formControlName="ProvisionNumber" placeholder="Provision Number"
                                min="0" numbersOnly
                                class="form-control">
                        </div>
                    </div>                    

                    <div class="col-md-12" style="margin-top: -7px;">
                        <div class="form-group bmd-form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class=" mb-3">From</label>
                                    <div class="input-group">
                                        <mat-form-field class="tillDate mat_date_picker" appearance="outline">
                                            <input matInput (click)="StartDate.open()" readonly autocomplete="off"
                                                [min]="provisionFilter.get('StartDate').value" [matDatepicker]="StartDate"
                                                id="StartDate" [placeholder]="entityDateFormat" formControlName="StartDate">
                                            <mat-datepicker-toggle matSuffix [for]="StartDate"></mat-datepicker-toggle>
                                            <mat-datepicker #StartDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class=" mb-3">Till</label>
                                    <div class="input-group">
                                        <mat-form-field class="tillDate mat_date_picker" appearance="outline">
                                            <input matInput (click)="EndDate.open()" readonly autocomplete="off"
                                                [min]="provisionFilter.get('EndDate').value" [matDatepicker]="EndDate"
                                                id="EndDate" [placeholder]="entityDateFormat" formControlName="EndDate">
                                            <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
                                            <mat-datepicker #EndDate></mat-datepicker>
                                        </mat-form-field>
                                        <!-- <input formControlName="EndDate"  [min]="validTillMinDate" type="date" class="form-control" /> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <div class="form-group bmd-form-group">
                            <input formControlName="Amount" placeholder="AMOUNT"
                                onkeypress='return event.charCode >= 48 && event.charCode <= 57' min="0" numbersOnly
                                class="form-control" name="Amount">
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <div class="form-group bmd-form-group">
                            <ng-select class="searchdropdown" [clearable]="false" [formControlName]="'StatusId'"
                                name="active" id="active">
                                <ng-option [value]="''" disabled>--SELECT STATUS--</ng-option>
                                <ng-option *ngFor="let status of statusList" [value]="status.Id">
                                    <span class="textwrap">{{status.StatusName | uppercase}}</span>
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 searchbtn alrt text-center mb-3 mt-3">
                        <button style="padding: 2px 0px !important;width: 40%;font-size: 14px !important;" type="submit"
                            (click)="getProvisionList();" class="btn btn-primary btn-raised mb-0">Search<div
                                class="ripple-container"></div></button>
                        <button style="padding: 2px 0px !important;width: 40%;font-size: 14px !important;"
                            (click)="createProvisoinForm();getProvisionList();"
                            class="btn btn-raised btn-danger mb-0">Clear
                            <div class="ripple-container">
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>