<div class="row headtitle">
    <div class="col-md-9">
        <h4>Container Movement(s) - Update</h4>
    </div>
    <!--<div class="col-md-3 alrt">
        <button class="nav-link dropdown-toggle arrow-none waves-effect nav-user btn bmd-btn-edit btn-raised btntop btnlog" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                aria-expanded="false">
            <i class="material-icons editicon">schedule</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown" style="background-color: aliceblue;width:236px;left:-66px">

            <a class="dropdown-item" href="#" style="padding:15px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12"><span>ModifiedOn: 17/10/2022</span> | <span>Modified By: Admin</span></div>


                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12"><span>CreatedOn: {{CreatedOn}}</span> | <span>Created By: {{CreatedBy}}</span></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <button type="button" *ngIf="showEdit" class="btn btn-warning bmd-btn-edit btn-raised btntop" (click)="ForsControlDisable();" style="margin-right:15px;"><i class="material-icons editicon">edit</i></button>
        <button type="button" class="btn btn-success bmd-btn-edit btn-raised btntop" [routerLink]="['/views/enquiries-booking/rateapprovals/rateapprovalsview/rateapprovalsview']"><i class="material-icons editicon">reply</i><div class="ripple-container"></div></button>
    </div>-->
</div>

<div class="row forms">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12 padlr0">
                <form [formGroup]="CntrMovement">
                    <div class="tab-content" style="padding:0;">
                        <div class="tab-pane pt-3 active show" id="Enquiry" role="tabpanel">

                            <div class="col-md-12">
                        
                                <div class="row" style="background-color: lavender; margin-bottom: 15px;">
                                    <div class="col-md-8">

                                    </div>
                                    <div class="col-md-2 rad alrt">
                                        <label> Transaction</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group" style="margin-top:2px;margin-bottom:0!important;">
                                            <label>&nbsp;</label>
                                            <label class="check">
                                                <input type="radio" [routerLink]="['/views/inventory/cntrmovement/cntrmovement']"  [value]="1" name="TransationStatus" checked formControlName="TransationStatus" />
                                                <span>Update</span>
                                            </label>
                                            <label class="check" style="margin-left:20px;">
                                                <input type="radio" [routerLink]="['/views/inventory/cntrmovement/cntrupload/cntrupload']" [value]="2" name="TransationStatus" formControlName="TransationStatus" />
                                                <span>Upload</span>
                                            </label>

                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Reference No</label>
                                                    <input type="text" disabled autocomplete="off" formControlName="Reference" id="txtReference" class="form-control" />
                                                </div>


                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="str">Office </label>
                                                    <select class="form-control my-select" id="ddlOfficeLocation" formControlName="OfficeLocation">
                                                        <option *ngFor="let gRow of OfficeMasterAllvalues" [value]="gRow.ID">
                                                            {{gRow.CustomerName}}
                                                        </option>
                                                    </select>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="str"> Movement Date</label>
                                                    <mat-form-field  class="paymentDate">
                                                        <input (click)="RefDate.open()" readonly matInput [max]="getToday()" autocomplete="off" [matDatepicker]="RefDate"  id="RefDate" placeholder="" formControlName="RefDate">
                                                        <mat-datepicker-toggle matSuffix [for]="RefDate"></mat-datepicker-toggle>
                                                        <mat-datepicker #RefDate></mat-datepicker>
                                                    </mat-form-field>
                                                    <!-- <input type="date" autocomplete="off" formControlName="RefDate" id="txtRefDate" class="form-control"
                                                           [max]="getToday()" /> -->
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="str"> Movement Type</label>
                                                    <select class="form-control my-select" formControlName="PickDropTypeID" id="ddlPickDropType">
                                                        <option *ngFor="let gRow of Pickdropallvalues" [value]="gRow.ID">
                                                            {{gRow.GeneralName}}
                                                        </option>
                                                    </select>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="str">Current Storage Location</label>
                                                    <select class="form-control my-select" formControlName="PickDropTypeID" id="ddlPickDropType">
                                                        <option *ngFor="let gRow of Pickdropallvalues" [value]="gRow.ID">
                                                            {{gRow.GeneralName}}
                                                        </option>
                                                    </select>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="str">New Storage Location</label>
                                                    <select class="form-control my-select" id="ddlSalesperson" formControlName="PickDropLocID">
                                                        <option *ngFor="let gRow of Pickdropallvalues" [value]="gRow.ID">
                                                            {{gRow.GeneralName}}
                                                        </option>
                                                    </select>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="str">Booking Number</label>
                                                    <input type="text" class="form-control" />
                                                </div>

                                            </div>

                                        </div>
                                    </div>



                                </div>

                                <div class="row borbot">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="str">Container Nos</label>
                                                    <textarea class="form-control" style="height:120px!important;"></textarea>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12" style="text-align:center;margin-top:65px;">
                                                    <button class="btn btn-primary btn-raised mb-0" style="width:60%!important;">Validate</button>
                                                </div>

                                            </div>

                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="datatable-buttons" cellpadding="0" cellspacing="0" class="table table-responsive table-striped table-bordered w-100 dataTable no-footer" role="grid" aria-describedby="datatable-buttons_info">
                                            <thead>
                                                <tr>
                                                    <th>Container No</th>
                                                    <th>Pervious Status</th>
                                                    <th>Previous Movement Date</th>
                                                    <th>Current Location</th>
                                                    <th>Validation Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="str">Remarks</label>
                                                    <textarea class="form-control" style="height:100px!important;"></textarea>
                                                </div>

                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="col-md-12 searchbtn alrt" style="margin-top:20px;">
                                <button type="submit"  class="btn btn-danger btn-raised mb-0">Cancel<div class="ripple-container"></div></button>
                                <button type="submit"  class="btn btn-success btn-raised mb-0">Save<div class="ripple-container"></div></button>
                            </div>











                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

