.table>tbody>tr>td {
    /* text-align: left !important; */
    padding: 15px !important;
    font-size: 14px !important;
  }
  
  tr:hover {
    background-color: aliceblue;
    text-decoration: underline;
    text-decoration-color: rgb(0, 162, 255)
  }
  
  .hyperTextColor {
    color: #0366d6;
  }
  
  .example-form-field {
    margin: 0 8px 16px 0;
  }
  
  .custom-margin-top {
    margin-top: -100px;
    margin-right: 80px;
  }
  
  .title {
    font-size: 1.6rem !important
  }
  
  .subtitle {
    font-size: 1.3rem !important
  }
  
  .clear-btn {
    width: 96px;
  }

  .red {
    color: red !important;
  }
  
  .green {
    color: green !important;
  }


  @media (min-width: 1701px) and (max-width: 1820px) {
  
    .table>tbody>tr>td {
      /* text-align: left !important; */
      padding: 13px !important;
      font-size: 13px !important;
    }
   
  }
  
  
  
  @media (min-width: 1601px) and (max-width: 1700px) {
    
    .table>tbody>tr>td {
      /* text-align: left !important; */
      padding: 12px !important;
      font-size: 12px !important;
    }
   
  }
  
  @media (min-width: 1498px) and (max-width: 1600px) {
    
    .table>tbody>tr>td {
      /* text-align: left !important; */
      padding: 11px !important;
      font-size: 11px !important;
    }
   
  }
  
  
  @media (min-width: 1400px) and (max-width: 1498px) {
    
    .table>tbody>tr>td {
      /* text-align: left !important; */
      padding: 10px !important;
      font-size: 10px !important;
    }
   
  }
  
  
  @media (min-width: 700px) and (max-width: 1399px) {
    
    .table>tbody>tr>td {
      /* text-align: left !important; */
      padding: 9px !important;
      font-size: 9px !important;
    }
   
  }
  