.mat-select-panel:not([class*="mat-elevation-z"]) {
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  margin-top: 36px;
}

/* .headtitle {
  justify-content: space-between;
} */

.block-input {
  cursor: not-allowed !important;
  pointer-events: none !important;
  background-color: #e9ecef !important;
}

.bestfit-width {
  min-width: 176px !important
}
.best-fit-width {
  max-width: 114px !important;
  font-size: 9px !important;
}
.best-fit-width {
  max-width: 120px !important;
  font-size: 9px !important;
}