.table>thead>tr>th {
    width: 11% !important;
    text-align: center;
}
li{
    color:#003d79;
    font-weight: bold;
    font-size: 20px;
    /* line-height: 2rem; */
}
.con{
    font-size: 20px;
    font-weight: 600;
    color:#003d79;
}
