<div class="container-fluid p-0">
    <div class="row headtitle mt-2">
        <div class="col-md-9 col-sm-9 col-lg-9 col-xl-9">
            <h4 class="ml-2 mt-2">Exchange Rate</h4>
        </div>

        <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3 alrt">

            <button *ngIf="isUpdate" (click)="fg.enable();isDisable = false" type="button"
                class="btn btn-warning bmd-btn-edit btn-raised btntop emarginr ng-star-inserted">
                <i class="material-icons editicon">edit</i>
            </button>

            <button type="button" class="btn btn-success btntop btn-raised bmd-btn-edit" (click)="onBack()"><i
                    class="material-icons editicon">reply</i>
                <div class="ripple-container"></div>
            </button>

            <button *ngIf="isUpdate"
                class="nav-link dropdown-toggle arrow-none waves-effect nav-user btn bmd-btn-edit btn-raised btntop btnlog"
                data-placement="bottom" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="material-icons editicon">schedule</i>
            </button>

            <div style="background-color: aliceblue;width:250px;left:-66px"
                class="dropdown-menu dropdown-menu  profile-dropdown" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" style="padding:15px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12"><span>ModifiedOn: {{ModifiedOn}}</span> | <span>Modified By:
                                        {{ModifiedBy}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12"><span>CreatedOn: {{CreatedOn}}</span> | <span>Created By:
                                        {{CreatedBy}}</span></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- ------title start---------- -->
    <div class="row my-3 p-2" style="background-color: lavender;margin: 2px;">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
            </div>
        </div>
        <div class="col-md-3" style="font-weight: 600;">
            <div class="row bkgno">
                <div class="col-md-12">
                    <label [title]="fg.value.Rate" class="lbltxt header-text-label"><span
                            style="font-weight: lighter !important;">Exchange Rates :
                        </span>{{fg.value.Rate }}</label>
                </div>
            </div>
        </div>
    </div>

    <!-- -------title end------------ -->
    <form [formGroup]="fg">
        <div class="card">
            <div class="card-body ">
                <div class="row">

                    <!-- <div class="col-md-4">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="str">Currency Pair</label>
                                <select class="form-control my-select" id="ddlCurrencyPairId" formControlName="CurrencyPairID">
                                    <option value="0" disabled selected>--SELECT--</option>
                                    <option *ngFor="let gRow of dsCurrencyPair" [value]="gRow.CurrencyPairID">
                                        {{gRow.CurrencyPair}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> -->

                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="str">Exchange Rate Pair</label>
                                    <!-- <select #teams (ngModelChange)="ExchangeRatePair(teams.value)" name="exchangeRateID"
                                        formControlName="CurrencyPairID" id="ddlCurrencyPairId"
                                        class="form-control my-select">
                                        <option disabled value=0>--SELECT EXCHANGE RATE PAIR--</option>
                                        <option *ngFor="let exchange of exchangeList" [value]="exchange.Id">
                                            {{exchange.FromCurrency | uppercase}}-{{exchange.ToCurrency | uppercase}}
                                        </option>
                                    </select> -->
                                    <ng-select class="searchdropdown"  [clearable]="false"  #teams (ngModelChange)="ExchangeRatePair(teams.value)" name="exchangeRateID"
                                    formControlName="CurrencyPairID" id="ddlCurrencyPairId" [appendTo]="'body'">
                                        <ng-option [value]="0" [disabled]="true">--SELECT EXCHANGE RATE PAIR--</ng-option>
                                        <ng-option *ngFor="let exchange of exchangeList" [value]="exchange.Id">
                                            <span class="textwrap currenciesind"> {{exchange.FromCurrency | uppercase}}-{{exchange.ToCurrency | uppercase}}</span>
                                        </ng-option>
                                      </ng-select> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="str">Exchange Rate </label>
                                    <input type="text" name="rate" formControlName="Rate" autocomplete="off"
                                        data-format="000.0000" id="txtrate" ng-model="txtRate" class="form-control"
                                        required maxlength="50" (keypress)="decimalFilter($event)">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="str mb-2">Effective Date</label>
                                    <mat-form-field  class="tillDate mat_date_picker"   appearance="outline">
                                        <input matInput (click)="EffectiveDate.open()" readonly autocomplete="off" [min]="minDate" [matDatepicker]="EffectiveDate"  id="EffectiveDate" [placeholder]="entityDateFormat"   formControlName="EffectiveDate">
                                        <mat-datepicker-toggle matSuffix [for]="EffectiveDate"></mat-datepicker-toggle>
                                        <mat-datepicker #EffectiveDate></mat-datepicker>
                                    </mat-form-field>
                                    <!-- <input class="form-control" type="date" formControlName="EffectiveDate"
                                        id="StartDate" [max]="getToday()" /> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12" style="text-align:right;">
                    <button type="submit" [disabled]="isDisable" (click)="onSubmit()"
                        class="btn btn-primary btn-raised mb-0  m-r-15">Save</button>
                    <button type="button" (click)="reset()" class="btn btn-danger btn-raised mb-0">Cancel</button>
                </div>
                <input type="hidden" id="HDRegId" ng-model="HDRegId" />
            </div>
        </div>
    </form>
</div>