<div class="container-fluid">

    <div class="d-flex justify-content-between headtitle mt-2">
        <h4 class="ml-2 mt-2">Purchase Invoice</h4>

        <div class="btntop">

            <button *ngIf="isUpdate && !isFinalRecord" type="button"
                (click)="updateValue()"
                class="btn btn-warning bmd-btn-edit btn-raised btntop emarginr ng-star-inserted">
                <i class="material-icons editicon">edit</i>
            </button>

            <button type="button" class="btn btn-success bmd-btn-edit btn-raised btntop"
            (click)="goBack()"><i
                    class="material-icons editicon">reply</i>
                <div class="ripple-container"></div>
            </button>

            <button *ngIf="isUpdate"
                class="nav-link dropdown-toggle arrow-none waves-effect nav-user btn bmd-btn-edit btn-raised btntop btnlog"
                data-placement="bottom" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="material-icons editicon">schedule</i>
            </button>


            <div style="background-color: aliceblue;width:250px;left:-66px"
                class="dropdown-menu dropdown-menu  profile-dropdown" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" style="padding:15px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12"><span>ModifiedOn: {{ModifiedOn | date :commonDataService.convertToLowerCaseDay(entityDateFormat)}}</span>
                                    | <span>Modified By:
                                        {{ModifiedBy}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12"><span>CreatedOn: {{CreatedOn | date :commonDataService.convertToLowerCaseDay(entityDateFormat)}}</span> |
                                    <span>Created By:
                                        {{CreatedBy}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="card">
        <form [formGroup]="PurchaseCreateForm">
            <div class="row mt-3 p-4">

                <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label class="str">Division</label>
                        <ng-select  class="searchdropdown"  formControlName="Division" [clearable]="false" (ngModelChange)="getOfficeList($event);PurchaseCreateForm.controls['Office'].setValue(0);" name="Division" >
                            <ng-option [value]="0" disabled>--SELECT DIVISION--</ng-option>
                            <ng-container  *ngFor="let division of divisionList">
                              <ng-option  [value]="division.ID">
                                <span class="textwrap">{{division.DivisionName | uppercase}}</span>
                              </ng-option>
                           </ng-container>
                        </ng-select>  
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label class="str">Office</label>
                        <ng-select  class="searchdropdown"  formControlName="Office" [clearable]="false"(ngModelChange)="getOfficeGST($event)" name="Office">
                            <ng-option [value]="0" disabled>--SELECT OFFICE--</ng-option>
                            <ng-container *ngFor="let office of officeList">
                              <ng-option [value]="office.ID">
                               <span class="textwrap">{{office.OfficeName | uppercase}}</span>
                              </ng-option>
                            </ng-container>
                        </ng-select>  
                    </div>
                </div>

         

                <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label class="str">Office GST </label>
                        <input formControlName="OfficeGST" readonly type="text" id="OfficeGST"
                            class="form-control w-100" />
                    </div>
                </div>

<!--      
            <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                <label>Booking Against</label><br>
                <div class="row ml-1">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio1" checked name="optradio" value="2">
                        <label class="form-check-label" for="radio1">General</label>
                    </div>
                    <div class="form-check ml-5">
                        <input type="radio" class="form-check-input" id="radio2" checked name="optradio" value="2">
                        <label class="form-check-label" for="radio2">Against provision</label>
                    </div>
                </div>
            </div>
 
            <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label>Provision Type</label>
                    <ng-select  class="searchdropdown"  formControlName="ProvisionType" [clearable]="false" name="ProvisionType">
                        <ng-option  [value]="0" disabled>--SELECT PROVISION TYPE--</ng-option>                    
                        <ng-option [value]="1">PARTIAL</ng-option>             
                        <ng-option [value]="2">FULL</ng-option>
                    </ng-select>  
                </div>
            </div>            
      
            <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label>Provision</label>
                    <ng-select  class="searchdropdown"  formControlName="Provision" [clearable]="false"
                    [placeholder]="'-- SELECT PROVISION --'">
                        <ng-option [value]="0" disabled>--SELECT PROVISION--</ng-option>
                        <ng-container *ngFor="let provision of provisionDropDownList">
                          <ng-option  [value]="provision.ProvisionId">
                           <span class="textwrap">{{provision.ProvisionNumber | uppercase}}</span>
                          </ng-option>
                        </ng-container>
                    </ng-select>  
                </div>
            </div>
            -->

            <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                <label>Booking Against</label><br>
                <div class="row ml-1">

                    <label class="mr-1" for="flexRadioDefault1">General</label>
                    <input formControlName="general" [value]="true" mdbRadio (click)="bookingAgainst === 'general';onBookingAgainstChange('general')"
                        class="form-control mr-2" type="radio" name="general" id="flexRadioDefault1" />

                    <label class="mr-1" for="flexRadioDefault2">Against Provision</label>
                    <input formControlName="againstProvision" [value]="true" mdbRadio (click)="bookingAgainst === 'provision';onBookingAgainstChange('provision')"
                        class="form-control" type="radio" name="againstProvision" id="flexRadioDefault2" />

                    <!-- <label class="mr-1" for="flexRadioDefault2">Against provision</label>
                    <input formControlName="againstProvision" [value]="true" mdbRadio (click)="bookingAgainst === 'provision'" (change)="onBookingAgainstChange('provision')"
                        class="form-control" type="radio" name="againstProvision" id="flexRadioDefault2" /> -->

                    <!-- <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio1" [checked]="bookingAgainst === 'general'" name="optradio" (change)="onBookingAgainstChange('general')">
                        <label class="form-check-label" for="radio1">General</label>
                    </div>
                    <div class="form-check ml-5">
                        <input type="radio" class="form-check-input" id="radio2" [checked]="bookingAgainst === 'provision'" name="optradio" (change)="onBookingAgainstChange('provision')">
                        <label class="form-check-label" for="radio2">Against provision</label>
                    </div> -->
                </div>
            </div>
            
            <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4" *ngIf="bookingAgainst === 'provision'">
                <div class="form-group">
                    <label>Provision Type</label>
                    <ng-select class="searchdropdown" formControlName="ProvisionType" [clearable]="false" name="ProvisionType">
                        <ng-option [value]="0" disabled>--SELECT PROVISION TYPE--</ng-option>                    
                        <ng-option [value]="1">PARTIAL</ng-option>             
                        <ng-option [value]="2">FULL</ng-option>
                    </ng-select>  
                </div>
            </div>            
            
            <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4" *ngIf="bookingAgainst === 'provision'">
                <div class="form-group">
                    <label>Provision</label>
                    <ng-select class="searchdropdown" formControlName="Provision" [clearable]="false" [placeholder]="'-- SELECT PROVISION --'">
                        <ng-option [value]="0" disabled>--SELECT PROVISION--</ng-option>
                        <ng-container *ngFor="let provision of provisionDropDownList">
                            <ng-option [value]="provision.ProvisionId">
                                <span class="textwrap">{{provision.ProvisionNumber | uppercase}}</span>
                            </ng-option>
                        </ng-container>
                    </ng-select>  
                </div>
            </div>
                <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label>Purchase Invoice #</label>
                        <input formControlName="PINumber" readonly type="text" id="purchaseNo"
                            class="form-control w-100" />
                    </div>
                </div>
                
                <!-- [max]="maxDate"  -->
                <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label class="str mb-2">Purchase Invoice Date </label>
                        <mat-form-field  class="tillDate mat_date_picker disable-input--nostyle"  readonly appearance="outline" >
                            <input matInput (click)="PIDate.open()"    autocomplete="off" readonly [matDatepicker]="PIDate"   id="PIDate" [placeholder]="entityDateFormat" formControlName="PIDate">
                            <mat-datepicker-toggle disabled matSuffix [for]="PIDate" ></mat-datepicker-toggle>
                            <mat-datepicker #PIDate disabled></mat-datepicker>
                        </mat-form-field>
                        <!-- <input [max]="maxDate" formControlName="PIDate" type="date" id="InvoiceDate"
                            class="form-control w-100" /> -->
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label class="str">PJ Status</label>
                        <select [ngClass]=" isUpdate ? 'block-input' : 'block-input'" readonly formControlName="StatusId" name="Status" class="form-control my-select disable-input--nostyle">
                            <option disabled value="">--SELECT STATUS--</option>
                            <option disabled *ngFor="let status of statusList" [value]="status.Id">
                                {{status.StatusName | uppercase}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label>Vendor</label>
                        <!-- <select formControlName="VendorId" (change)="getVendorBranchList($event.target.value, true, 0 );PurchaseCreateForm.controls['VendorGSTCategory'].setValue('');
                            PurchaseCreateForm.controls['VendorGST'].setValue('');PurchaseCreateForm.controls['TDSApplicability'].setValue('');PurchaseCreateForm.controls['TDSSection'].setValue('');
                            PurchaseCreateForm.controls['ReasonforNonTDS'].setValue('');
                            PurchaseCreateForm.controls['LDCRate'].setValue('')" name="Vendor"
                            class="form-control my-select">
                            <option disabled value="0">--SELECT VENDOR--</option>
                            <option *ngFor="let vendor of vendorsList" [value]="vendor.VendorID">
                                {{vendor.VendorName | uppercase}}
                            </option>
                        </select> -->
                        <ng-select  class="searchdropdown"  formControlName="VendorId" [clearable]="false"(change)="getVendorBranchList($event, true, 0 );PurchaseCreateForm.controls['VendorGSTCategory'].setValue('');
                        PurchaseCreateForm.controls['VendorGST'].setValue('');PurchaseCreateForm.controls['TDSApplicability'].setValue('');PurchaseCreateForm.controls['TDSSection'].setValue('');PurchaseCreateForm.controls['TDSRate'].setValue('');
                        PurchaseCreateForm.controls['ReasonforNonTDS'].setValue('');
                        PurchaseCreateForm.controls['LDCRate'].setValue(''); PurchaseCreateForm.controls['DueDate'].setValue('');
                        PurchaseCreateForm.controls['VIDate'].setValue('')">
                            <ng-option [value]="0" disabled>--SELECT VENDOR--</ng-option>
                            <ng-container  *ngFor="let vendor of vendorsList">
                              <ng-option [value]="vendor.VendorID">
                               <span class="textwrap">{{vendor.VendorName | uppercase}}</span>
                              </ng-option>
                            </ng-container>
                        </ng-select>  
                    </div>
                </div>

                <!-- <div *ngIf="this.vendorBranch.length == 1;" class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label class="str">Vendor Branch</label>
                        <div 
                            name="Branch" class="form-control my-select">
                            <div >
                                <div disabled >{{this.newOne}}</div>
                            </div>
                        </div>
                    </div>
                </div> -->
            
                <div   class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label class="str">Vendor Branch</label>
                        <!-- <select formControlName="VendorBranch" (change)="getVendorDetailsInfo($event.target.value)"
                            name="Branch" class="form-control my-select">
                            <option disabled value="">--SELECT VENDOR BRANCH--</option>
                            <option *ngFor="let vendor of vendorBranch" [value]="vendor.VendorBranchID">
                                {{vendor.BranchCode | uppercase}}
                            </option>
                        </select> -->
                        <ng-select  class="searchdropdown"  formControlName="VendorBranch" [clearable]="false" (change)="getVendorDetailsInfo($event)" name="Branch">
                            <ng-option [value]="''" disabled>--SELECT VENDOR BRANCH--</ng-option>
                            <ng-container *ngFor="let vendor of vendorBranch">
                              <ng-option [value]="vendor.VendorBranchID">
                               <span class="textwrap">{{vendor.CityName | uppercase}}</span>
                              </ng-option>
                            </ng-container>
                        </ng-select> 
                    </div>
                </div>

               <!-- <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label class="str">Vendor Type</label>
                        <input formControlName="VendorType" readonly class="form-control" type="text" id="VendorType">
                    </div>
                </div> -->

                <div class="col-md-4 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label class="str">Vendor Invoice # </label>
                        <input formControlName="VINumber" class="form-control" type="text" id="txtRemarks">
                    </div>
                </div>

                <!-- <div class="col-md-4 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label class="str mb-2">Vendor Invoice Date</label>
                        <mat-form-field  class="tillDate mat_date_picker"   appearance="outline">
                            <input matInput (click)="VIDate.open()" readonly [max]="maxDate" 
                            (dateChange)="calculateDueDate($event); this.PurchaseCreateForm.controls['DueDate'].setValue(DueDateopen); " 
                            autocomplete="off" [matDatepicker]="VIDate"  id="VIDate" [placeholder]="entityDateFormat" formControlName="VIDate"  >
                            <mat-datepicker-toggle matSuffix [for]="VIDate"></mat-datepicker-toggle>
                            <mat-datepicker #VIDate></mat-datepicker>
                        </mat-form-field>
                  
                    </div>
                </div>       -->


                <!-- <div class="col-md-4 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label>Due Date</label>
                        <input formControlName="DueDate" readonly class="form-control" [placeholder]="entityDateFormat" type="text" id="DueDate" *ngIf="duedatelist && duedatelist.length > 0">
                    </div>
                    <div>
                        <mat-form-field class="tillDate mat_date_picker" appearance="outline"  *ngIf="!(duedatelist && duedatelist.length > 0)" style="font: small-caption;">
                            <input matInput (click)="DueDate.open()" readonly [min]="minDate" autocomplete="off" [matDatepicker]="DueDate" id="DueDate" [placeholder]="entityDateFormat" formControlName="DueDate">
                            <mat-datepicker-toggle matSuffix [for]="DueDate"></mat-datepicker-toggle>
                            <mat-datepicker #DueDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div> -->

                <div class="col-md-4 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label class="str mb-2">Vendor Invoice Date</label>
                        <mat-form-field  class="tillDate mat_date_picker"   appearance="outline">
                            <input matInput (click)="VIDate.open()" readonly [max]="maxDate" 
                                (dateChange)="calculateDueDate($event);"
                                autocomplete="off" [matDatepicker]="VIDate"  id="VIDate" [placeholder]="entityDateFormat" formControlName="VIDate">
                            <mat-datepicker-toggle matSuffix [for]="VIDate"></mat-datepicker-toggle>
                            <mat-datepicker #VIDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label>Due Date</label>
                        <input formControlName="DueDate" readonly class="form-control" [placeholder]="entityDateFormat" type="text" id="DueDate"  [value]="DueDateopen"
                            *ngIf="duedatelist && duedatelist.length > 0; else currentDate">
                    </div>
                    <ng-template #currentDate>
                        <div>
                            <input formControlName="DueDate" readonly class="form-control" [placeholder]="entityDateFormat" type="text" id="DueDate"
                                [min]="minDate" [max]="maxDate">
                        </div>
                    </ng-template>
                </div>
                


                <div class="col-md-4 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label>Vendor GST</label>
                        <input formControlName="VendorGST" readonly class="form-control" type="text" id="txtRemarks">
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label>Vendor GST Category</label>
                        <select
                            formControlName="VendorGSTCategory" name="GST" class="form-control my-select disable-input">
                            <option disabled value="">--SELECT VENDOR GST--</option>
                            <option disabled *ngFor="let gRow of GSTCategoryList" [value]="gRow.Id">
                                {{gRow.CategoryName | uppercase}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label>RCM Applicable</label>
                        <ng-select class="searchdropdown" formControlName="RCMApplicable" [clearable]="false" name="RCM"   [placeholder]="'-- SELECT TDS--'"
                                   (change)="toggleRCM($event)">
                            <ng-option [value]="''" disabled>--SELECT RCM--</ng-option>                    
                            <ng-option value="1">YES</ng-option>
                            <ng-option value="0">NO</ng-option>             
                        </ng-select>  
                    </div>
                    
                    
                    
                    
                </div>

                <div class="col-md-4 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label>TDS Applicability </label>
                        <!-- <input formControlName="TDSApplicability" readonly class="form-control" type="text"
                            id="txtRemarks"> -->
                        <select
                            formControlName="TDSApplicability" name="TDSApplicability" class="form-control my-select disable-input">
                            <option disabled value="">--SELECT TDS APPLICABILITY--</option>
                            <option disabled *ngFor="let applicability of TDSApplicability" [value]="applicability.id">
                                {{applicability.name |
                                uppercase}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label>TDS Section</label>
                        <!-- <input formControlName="TDSSection" readonly class="form-control" type="text" id="txtRemarks"> -->
                        <select formControlName="TDSSection" name="TDSApplicability" class="form-control my-select disable-input"  (change)="getTdsSection($event.target.value)"  >
                            <option disabled value="">--SELECT TDS SECTION--</option>
                            <option disabled *ngFor="let section of tdsSectionData" [value]="section.SectionID">
                                {{section.SectionName}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label>Reason for Non TDS </label>
                        <select formControlName="ReasonforNonTDS" name="Status" class="form-control my-select disable-input">
                            <option disabled value="">--SELECT NON TDS--</option>
                            <option disabled *ngFor="let gRow of reasonList" [value]="gRow.Id">
                                {{gRow.Reason |
                                uppercase}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label>LDC Rate </label>
                        <input formControlName="LDCRate" readonly class="form-control" type="text" id="LDCRate">
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label class="str">Order Type</label>
                        <select [disabled]="isUpdateMode" (change)="orderType = $event.target.value;orderChangeEvent()"
                            class="form-control my-select">
                            <option [selected]="orderType == ''" disabled value="">--SELECT ORDER TYPE--</option>
                            <option [selected]="orderType == 'Purchase'" value="Purchase">PURCHASE ORDER</option>
                            <option [selected]="orderType == 'Internal'" value="Internal">INTERNAL ORDER</option>
                        </select>
                        <!-- <ng-select [ngModel]="orderType" [disabled]="isUpdateMode" (change)="orderType = $event.target.value;orderChangeEvent()"
                        class="searchdropdown" [clearable]="false" >
                        <ng-option  [selected]="orderType == ''" disabled [value]="">--SELECT ORDER TYPE---</ng-option>
                        <ng-option  [selected]="orderType == 'Purchase'" [value]="Purchase">PURCHASE ORDER</ng-option>
                        <ng-option  [selected]="orderType == 'Internal'" [value]="Internal">INTERNAL ORDER</ng-option>
                      </ng-select>                       -->
                    </div>  
                </div>

                <div *ngIf="orderType == 'Purchase'" class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label class="str">Purchase Order</label>
                        <select (ngModelChange)="purchaseOrderChangeEvent('Purchase', $event);" formControlName="PurchaseOrder"
                            name="PurchaseOrder" class="form-control my-select">
                            <option disabled value="">--SELECT PURCHASE ORDER--</option>
                            <option *ngFor="let gRow of purchaseList" [value]="gRow.Id">
                                {{gRow.PurchaseNumber | uppercase}}
                            </option>
                        </select>
                    </div>
                </div>

                <div *ngIf="orderType == 'Internal'" class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label class="str">Internal Order</label>
                        <select (ngModelChange)="purchaseOrderChangeEvent('Internal', $event);" formControlName="InternalOrder" name="InternalOrder" class="form-control my-select">
                            <option disabled value="">--SELECT INTERNAL ORDER--</option>
                            <option *ngFor="let gRow of internalOderList" [value]="gRow.Id">
                                {{gRow.InternalNumber | uppercase}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-lg-8 col-xl-8"> </div>

                <div class="col-md-8 col-sm-6 col-lg-12 col-xl-12">
                    <div class="col-md-12 alrt">
                        <button [disabled]="isUpdateMode" type="submit" class="btn btn-success bmd-btn-fab tblbtngap"
                            (click)="addRow()"><i class="material-icons editicon">add</i>
                            <div class="ripple-container"></div>
                        </button>
                        <button [disabled]="isUpdateMode" type="submit" class="btn btn-primary bmd-btn-fab tblbtngap"
                            (click)="OnClickEditValue()"><i class="material-icons editicon">edit</i>
                            <div class="ripple-container"></div>
                        </button>
                        <button [disabled]="isUpdateMode" type="submit" class="btn btn-danger bmd-btn-fab"
                            (click)="OnClickDeleteValue()"><i class="material-icons editicon">delete</i>
                            <div class="ripple-container"></div>
                        </button>
                    </div>

                    <div class="material-datatables">
                        <table id="datatable"
                            class="table table-striped table-bordered table-responsive w-100 table-hover dataTable no-footer text-center"
                            cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Account </th>
                                    <th>Rate</th>
                                    <th>Qty</th>
                                    <th>Amount</th>
                                    <th>Currency</th>
                                    <th>Ex.Rate</th>
                                    <th>Amount (CCR)</th>
                                    <th>TDS</th>
                                    <th>GST Group %</th>
                                    <th>Rcm</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="min-width: 300px;">                                                 
                                        <ng-select class="searchdropdown" [formControlName]="'AccountId'" [clearable]="false" [appendTo]="'body'">
                                           <ng-option [value]="0" disabled>--SELECT ACCOUNT--</ng-option>
                                           <ng-option *ngFor="let name of accountName" [value]="name.ChartOfAccountsId">
                                           <span class="textwrap">{{name.AccountName | uppercase}}</span>
                                          </ng-option>
                                        </ng-select> 
                                    </td>
                                    <td> <input formControlName="Rate"
                                            (ngModelChange)="rateQuantityChangeEvent($event)" class="form-control"
                                            onkeypress='return event.charCode >= 46 && event.charCode <= 57 && event.charCode != 47'
                                            min="0" numbersOnly appDynamicDecimal id="Rate" />
                                    </td>
                                    <td> <input formControlName="Qty"
                                            (ngModelChange)="rateQuantityChangeEvent($event)" class="form-control"
                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57' min="0" numbersOnly appDynamicDecimal id="Qty" />
                                    </td>
                                    <td> <input readonly formControlName="Amount"
                                            [value]="PurchaseCreateForm.value.Rate * PurchaseCreateForm.value.Qty"
                                            class="form-control"  id="Amount" onkeypress='return event.charCode >= 48 && event.charCode <= 57' min="0" numbersOnly appDynamicDecimal />
                                    </td>
                                    <td>
                                        <ng-select class="searchdropdown" [formControlName]="'CurrencyId'" [clearable]="false" [appendTo]="'body'" (change)="changeCurrencyEvent($event)">
                                            <ng-option [value]="0" disabled>--SELECT--</ng-option>
                                            <ng-option *ngFor="let currency of currencyList" [value]="currency.ID">
                                            <span class="textwrap">{{ getCurrencyCode(currency.Currency) | uppercase }}</span>
                                           </ng-option>
                                        </ng-select> 
                                    </td>
                                    <td>
                                         <input formControlName="ExRate"  [ngClass]=" !IsExchangeEnable ? 'disable-input' : ''"
                                            (ngModelChange)="exchangeRateChangeEvent($event)" class="form-control"
                                            onkeypress='return event.charCode >= 46 && event.charCode <= 57 && event.charCode != 47'
                                            min="0" numbersOnly appDynamicDecimal id="ExRate" />
                                    </td>
                                    <td> <input readonly formControlName="Amountccr" class="form-control" type="text"
                                            id="Amount (CCR)" /> </td>
                                    <td style="max-width: 1px;">
                                        <ng-select class="searchdropdown"  [formControlName]="'TDSMaster'" [clearable]="false" [appendTo]="'body'">
                                            <ng-option [value]="0" disabled>--SELECT--</ng-option>
                                            <ng-option *ngFor="let tdsmaster of SectionMasterList"  [value]="tdsmaster.SectionID">
                                            <span class="textwrap">{{tdsmaster.SectionName}}</span>
                                           </ng-option>
                                         </ng-select>   
                                    </td>                                                                                                                                                                                       
                                    <td style="max-width: 1px;">
                                        <ng-select class="searchdropdown" [formControlName]="'GSTGroup'" [clearable]="false" [appendTo]="'body'">
                                            <ng-option [value]="0" disabled>--SELECT--</ng-option>
                                            <ng-option *ngFor="let tax of taxList"  [value]="tax.TaxRate">
                                            <span class="textwrap">{{tax.TaxRate}} %</span>
                                           </ng-option>
                                         </ng-select>                        
                                    </td>
                                    <td>
                                        <input type="checkbox" formControlName="IsRCM" >
                                    </td>
                                                                        
                                    <td> </td>
                                </tr>
                                <tr *ngFor="let data of PurchaseTableList;let i = index">
                                    <td>{{data.AccountName}}</td>
                                    <td>{{data.Rate}}</td>
                                    <td>{{data.Qty}}</td>
                                    <td>{{data.Amount}}</td>
                                    <td>{{data.CurrencyName}}</td>
                                    <td>{{data.ExRate ? data.ExRate : 1}}</td>
                                    <td>{{data.Amountccr}}</td>
                                    <td>{{data.TDSName}}</td>
                                    <td>{{data.GSTGroup ? (data.GSTGroup + '%')  : '-' }}</td>
                                    <td><input class='disable-input' type="checkbox" [checked]="data.IsRCM"></td>
                                    <td>
                                        <input class="vertal checkbox" type="radio" name="AlertCheck" id="RadioCheck"
                                            (click)="OnClickRadio(i)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row mx-2" style="float:right">
                            <div class="row page" align="right">
                                <ul *ngIf="pager.pages && pager.pages.length && pager.totalItems > 10 && pager.totalItems > 10"
                                    class="pagination">
                                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                                        <a (click)="setPage(1)">First</a>
                                    </li>
                                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                                    </li>
                                    <li *ngFor="let page of pager.pages"
                                        [ngClass]="{active:pager.currentPage === page}">
                                        <a (click)="setPage(page)">{{page}}</a>
                                    </li>
                                    <li *ngIf="(pager.totalPages - pager.startPage) > 5 ">
                                        <a (click)="setPage(pager.startPage + 5)">...</a>
                                    </li>
                                    <li *ngIf="(pager.totalPages - pager.startPage) > 5">
                                        <a (click)="setPage(pager.totalPages)">{{pager.totalPages}}</a>
                                    </li>
                                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                                    </li>
                                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                        <a (click)="setPage(pager.totalPages)">Last</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 row p-0">
                    <div class="col-8 mt-3">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                            <div>
                                <label class="str">Bank Details</label>
                            </div>
                            <div>
                                <div class="form-group">
                                    <ng-select class="searchdropdown" formControlName="BankId" [clearable]="false"  name="bank">
                                        <ng-option [value]="''" >--SELECT BANK--</ng-option>
                                        <ng-option *ngFor="let bank of bankList" [value]="bank.BankID">
                                            {{ bank.BankName | uppercase }} - {{ bank.AccountNo | uppercase }}
                                        </ng-option>
                                    </ng-select>  
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                            <div>
                                <label class="str">Invoice Currency</label>
                            </div>
                            <div>
                                <div class="form-group">
                                    <ng-select class="searchdropdown" [formControlName]="'InvoiceCurrency'"[clearable]="false" [appendTo]="'body'" (change)="changeCurrencyEvent($event)">
                                        <ng-option [value]="0" disabled>--SELECT CURRENCY--</ng-option>
                                        <ng-option *ngFor="let currency of currencyList" [value]="currency.ID">
                                        <span class="textwrap">{{ getCurrencyCode(currency.Currency) | uppercase }}</span>
                                       </ng-option>
                                    </ng-select> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                            <div>
                                <label class="str">Invoice ExRate</label>
                            </div>
                            <div >
                                <div class="form-group">
                                    <input  formControlName="InvoiceExrate"  class="form-control" onkeypress='return event.charCode >= 46 && event.charCode <= 57 && event.charCode != 47'
                                    min="0" numbersOnly appDynamicDecimal id="InvoiceExrate">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                            <div>
                                <label>Remarks</label>
                            </div>
                            <div>
                                <div class="form-group">
                                    <textarea   formControlName="Remarks" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col p-0">
                        <div class="col-md-6 col-sm-6 col-lg-10 col-xl-12 mt-4">
                            <div class="form-group">
                                <label>Sub Total</label>
                                <input readonly formControlName="SubTotal" class="form-control" placeholder="Sub Total"
                                    type="number" id="SubTotal">
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-sm-6 col-lg-10 col-xl-12">
                            <div class="form-group">
                                <label>SGST</label>
                                <input  readonly formControlName="SGST" class="form-control" placeholder="SGST"
                                    type="number" id="SubTotal">
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-lg-10 col-xl-12">
                            <div class="form-group">
                                <label>CGST</label>
                                <input readonly formControlName="CGST" class="form-control" placeholder="CGST"
                                    type="number" id="SubTotal">
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-lg-10 col-xl-12">
                            <div class="form-group">
                                <label>IGST</label>
                                <input readonly formControlName="IGST" class="form-control" placeholder="IGST"
                                    type="number" id="SubTotal">
                            </div>
                        </div>

               


                        <div class="col-md-6 col-sm-6 col-lg-10 col-xl-12">
                            <div class="form-group">
                                <label>Invoice Amount</label>
                                <input readonly formControlName="InvoiceAmount" class="form-control"
                                    placeholder="Invoice Amount" type="number" id="InvoiceAmount">
                            </div>
                        </div>
                         
                          <div class="col-md-6 col-sm-6 col-lg-10 col-xl-12">
                            <div class="form-group">
                                <label>TDS Applicable</label>
                                <input readonly formControlName="TDSRate" class="form-control" placeholder="TDS"
                                    type="number" id="TDSRate">
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-lg-10 col-xl-12">
                            <div class="form-group">
                                <label>Net Amount</label>
                                <input readonly formControlName="NetAmount" class="form-control" placeholder="Net Amount"
                                    type="number" id="NetAmount">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 mt-0">
                    <label class="str">Upload File</label>
                    <div class="file-upload">
                        <input type="text" hidden />
                        <input *ngIf="!isUpdateMode" class="file-upload__input" hidden type="file" name="myFile"
                            id="myFile" (change)="fileSelected($event)">

                        <input *ngIf="isUpdateMode" class="file-upload__input" hidden readonly type="text"
                            name="myFile" id="myFile" (change)="fileSelected($event)">
                        <label for="myFile" class="file-upload__button text-center"
                            style=" width: 50% !important; border: 1px solid #b1b1b1d1 !important;margin-top: 14px; border-radius: 10px; box-shadow: 0px 0px 5px 0px rgb(202 202 202); background-color: white; font-weight: 600; margin-right: 0.5rem !important;"
                            type="button">
                            <img class="ml-2" src="assets/images/docupload.png" alt="Upload image"
                                style="width: 1rem !important;" />
                            Choose File(s)
                        </label>
                    </div>
                </div>

                <div class="col-md-7 mt-3">
                    <table
                        class="table table-responsive table-striped table-bordered w-100 dataTable no-footer">
                        <thead class="text-center">
                            <tr>
                                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                                    aria-label="Name: activate to sort column ascending"
                                    style="width: 177.575px;">S.No
                                </th>
                                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                                    aria-label="Name: activate to sort column ascending"
                                    style="width: 177.575px;" >File Name</th>

                                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                                    class="text-center" aria-label="Name: activate to sort column ascending"
                                    style="width: 177.575px;" >Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" *ngIf="FileList.length > 0">
                            <tr *ngFor="let data of FileList;let i = index">
                                <td>{{i + 1}}</td>
                                <td id="documentFileName">{{data.FileName}}</td>
                                <td class="text-center">
                                    <button [disabled]="isUpdateMode" type="submit"
                                        class="btn btn-danger bmd-btn-fab"
                                        (click)="OnClickDeleteValueFile(i)"><i
                                            class="material-icons editicon">delete</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="FileList.length == 0">
                            <tr>
                                <td class="text-center" colspan="3">No records found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 text-right mt-4">
                    <button [disabled]="isUpdateMode" type="button"
                        class="btn btn-primary text-white mr-3 mb-0 col-auto" (click)="saveInfo(1)">
                        Save
                    </button>
                    <button [disabled]="!isUpdateMode1" type="button"
                        class="btn btn-primary text-white mr-3 mb-0 col-auto"
                        style="background-color: #19a84c !important;border: #19a84c;border: 1px solid #19a84c !important;"
                        (click)="saveInfo(2)">
                        Final
                    </button>
                   <!-- <button type="button" *ngIf="isUpdate && !isFinalRecord" [disabled]="isUpdateMode" (click)="saveInfo(1,true)"
                        class="btn btn-warning text-white mr-3 mb-0 col-auto">
                        Delete
                    </button> -->
                    <button type="submit" class="btn btn-danger btntop btn-raised" (click)="ViewPage()">Cancel</button>
                    <!-- <button type="button"(click)="saveInfo(3)"
                        class="btn btn-danger text-white mr-3 mb-0 col-auto">
                        Cancel
                    </button> -->
                </div>
            </div>
        </form>
    </div>

</div>