<div class="row headtitle">
    <div class="col-md-9">
        <h4>Depot Master</h4>
    </div>
    <div class="col-md-3 alrt">
        <button type="button" class="btn btn-success btn-raised btntop bmd-btn-edit" [routerLink]="['/views/masters/LAmaster/depot/depotview']"><i class="material-icons editicon">reply</i><div class="ripple-container"></div></button>
    </div>
</div>

<form [formGroup]="depotForm">
    <div class="card">
        <div class="card-body ">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Depot Name</label>
                            </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-7">
                                <input type="text" name="DepName" id="ddlDepName" formControlName="DepName" autocomplete="off" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Status</label>
                            </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-7">
                                <select class="form-control my-select" name="Status" formControlName="Status" id="ddlStatus">
                                    <option *ngFor="let status of statusvalues" [value]="status.value">
                                        {{status.viewValue}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Depot Address</label>
                            </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-7 input-field">
                                <textarea id="txtDepotAddress" name="DepAddress" formControlName="DepAddress" autocomplete="off" rows="5" ng-model="txtDepotAddress" class="form-control txtarea"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Country</label>
                            </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-7">
                                <select class="form-control my-select" name="DepCountry" id="ddlDepCountry" formControlName="DepCountry" (ngModelChange)="PortNameChange()">
                                    <option *ngFor="let gRow of dscountryItem" [value]="gRow.ID">
                                        {{gRow.CountryName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">

                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="margin-top:-50px">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>City</label>
                            </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-7">
                                <select class="form-control my-select" name="DepCity" id="ddlDepCity" formControlName="DepCity">
                                    <option *ngFor="let fRow of dscityItem" [value]="fRow.ID">
                                        {{fRow.CityName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>




              

            </div>
            <div class="row" style="border-top: 1px dashed #ccc; padding-top: 10px; border-bottom: 1px dashed #ccc; padding-bottom: 10px;">

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Applicable Port</label>
                            </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-7">
                                <select class="form-control" name="Port" id="ddlPort" [(ngModel)]="ApplicablePort">
                                    <option *ngFor="let gRow of dsPortItem" [value]="gRow.ID">
                                        {{gRow.PortName}}
                                    </option>
                                </select>
                                <input type="hidden" id="HDIDv" [(ngModel)]="PID" class="form-control" />
                                <input type="hidden" id="HDArrayIndex" [(ngModel)]="HDArrayIndex" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-2 alrt">
                    <!--<div class="divide"></div>-->
                    <button type="submit" (click)="OnClickAddValue();" class="btn btn-success btn-raised mb-0">
                        <!--<i class="material-icons"></i>-->
                        ADD
                    </button>

                </div>

            </div>
            <div class="divide"></div>
            <div class="row">
                <div class="col-md-12 padlr0">
                    <div id="datatable-buttons_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

                        <div class="row">
                            <div class="col-sm-12">
                                <table id="datatable-buttons" class="table table-striped table-bordered w-100 dataTable no-footer" role="grid" aria-describedby="datatable-buttons_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting actwid" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 177.575px;">
                                                S.No
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 177.575px;">
                                                Ports
                                            </th>
                                            <th class="actwid">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let gRow of DynamicGrid; let i= index">
                                            <td> {{i+1}}</td>
                                            <td>{{gRow.Port}}</td>


                                            <td class="alc">
                                              
                                                <button type="button" rel="tooltip" (click)="OnclickSelectvalues(DynamicGrid,i)" class="btn btn-success bmd-btn-fab" data-original-title="" title="">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" (click)="OnclickRemove(DynamicGrid,i,gRow.PID)" class="btn btn-danger bmd-btn-fab" data-original-title="" title="">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <!--<tr role="row">
                                            <td class="">1</td>
                                            <td class="">JEBEL ALI</td>-->
                                            <!--<td class="alc"><button class="btn btn-danger bmd-btn-fab" (click)="addRow()"><i class="material-icons">add</i></button></td>-->
                                        <!--</tr>-->

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer ">
            <div class="col-md-12" style="text-align:right;">
                <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-raised mb-0">Submit</button>
            </div>
            <input type="hidden" id="HDRegId" ng-model="HDRegId" />
        </div>
    </div>
</form>

