<div class="container-fluid p-0">
    <div class="row headtitle d-flex justify-content-between mt-2">
        <h4 class="ml-3 mt-2">Tax Group</h4>

        <div class="btntop">
            <button *ngIf="isUpdate" (click)="searchForm.enable();isUpdateEnable = true" type="button"
                class="btn btn-warning bmd-btn-edit btn-raised btntop emarginr ng-star-inserted">
                <i class="material-icons editicon">edit</i></button>

            <button [ngStyle]="{'margin-right':!isUpdate ? '15px' : '' }" type="button"
                class="btn btn-success btntop btn-raised bmd-btn-edit" (click)="onBack()">
                <i class="material-icons editicon">reply</i>
                <div class="ripple-container"></div>
            </button>

            <button *ngIf="isUpdate"
                class="nav-link dropdown-toggle arrow-none waves-effect nav-user btn bmd-btn-edit btn-raised btntop btnlog"
                data-placement="bottom" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="material-icons editicon">schedule</i>
            </button>


            <div style="background-color: aliceblue;width:250px;left:-66px"
                class="dropdown-menu dropdown-menu  profile-dropdown" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" style="padding:15px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12"><span>ModifiedOn: {{ModifiedOn | date:commonDataService.convertToLowerCaseDay(entityDateFormat)}}</span> |
                                    <span>Modified By:
                                        {{ModifiedBy}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12"><span>CreatedOn: {{CreatedOn | date:commonDataService.convertToLowerCaseDay(entityDateFormat)}}</span> |
                                    <span>Created By:
                                        {{CreatedBy}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <!-- ------title start---------- -->
    <div class="row my-3 p-2" style="background-color: lavender;margin:2px">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
            </div>
        </div>
        <div class="col-md-3">
            <div class="row bkgno">
                <div class="col-md-12">
                    <label [title]="searchForm.value.taxGroupName" class="lbltxt header-text-label"><span
                            style="font-weight: lighter !important;">Tax Group
                            Name :
                        </span>{{searchForm.value.taxGroupName | uppercase}}</label>
                </div>
            </div>
        </div>
    </div>

    <!-- ---------title end---------- -->

    <form [formGroup]="searchForm">
        <div class="card">
            <div class="card-body ">
                <div class="row">

                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                        <label class="str">Tax Group</label><br>
                        <input readonly [ngClass]=" isUpdate ? 'block-input' : ''" type="text" name="taxGroup"
                            formControlName="taxGroup" autocomplete="off" id="taxGroup" (paste)="(false)"
                            ng-model="taxGroup" class="form-control" maxlength="80">
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                        <label class="str">Tax Group Name</label><br>
                        <input [ngClass]=" isUpdate ? 'block-input' : ''" type="text" name="taxGroupName"
                            formControlName="taxGroupName" autocomplete="off" id="taxGroupName" (paste)="(false)"
                            ng-model="taxGroupName" class="form-control" maxlength="80">
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                        <label class="str">Short Name</label><br>
                        <input (ngModelChange)="autoCodeGeneration($event)" [ngClass]=" isUpdate ? 'block-input' : ''"
                            type="text" name="shortName" formControlName="shortName" autocomplete="off" id="shortName"
                            (paste)="(false)" ng-model="shortName" class="form-control" maxlength="80">
                    </div>


                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4 mt-3">
                        <label class="str">Tax Name</label><br>
                        
                        <ng-select class="searchdropdown"   [clearable]="false" formControlName="TaxType" id="TaxType" (change)="OnBindDropdowntax()">
                            <ng-option [value]="''" [disabled]="true" >--SELECT TAX NAME--</ng-option>
                            <ng-option *ngFor="let gRow  of AccTypeassociated" [value]="gRow.TaxTypeId">
                                {{gRow.TaxTypeName | uppercase}}
                            </ng-option>
                          </ng-select>
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4 mt-3">
                        <label class="str mb-2">Effective Date</label>
                        <mat-form-field class="tillDate mat_date_picker"   appearance="outline">
                            <input matInput (click)="effectiveDate.open()"  [min]="getToday()" readonly [ngClass]=" isUpdate ? 'disable-datepicker ' : ''" [matDatepicker]="effectiveDate" [placeholder]="entityDateFormat"
                             formControlName="effectiveDate" style="font:small-caption">
                            <mat-datepicker-toggle matSuffix [for]="effectiveDate" ></mat-datepicker-toggle>
                            <mat-datepicker #effectiveDate></mat-datepicker>
                            </mat-form-field>
                        <!-- <input [ngClass]=" isUpdate ? 'block-input' : ''" type="date" name="effectivedate"
                            formControlName="effectiveDate" autocomplete="off" id="effectivedate"
                            ng-model="effectivedate" class="form-control"> -->
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4 mt-3">
                        <label class="str">Active</label>
                        <ng-select class="searchdropdown" [clearable]="false" name="Status" formControlName="Status" id="ddlStatus" >
                            <ng-option [value]="''" [disabled]="true">-- SELECT ACTIVE--</ng-option>
                            <ng-option *ngFor="let statusv of statusvalues" [value]="statusv.value">
                                {{statusv.viewValue | uppercase}}
                            </ng-option>
                          </ng-select>  
                    </div>

                    
                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4 mt-3 mb-2">
                        <label class="str">Tax Rates %</label>
                        <input (change)="taxCalculation();" [ngClass]=" isUpdate ? 'block-input' : ''"
                            name="effectivedate" formControlName="taxRate" autocomplete="off" id="effectivedate"
                            ng-model="effectivedate" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' min="0" numbersOnly>
                    </div>

                </div>

                <p class="mt-3">Tax Bifurcations</p>

                <div *ngIf="TaxTypeList.length == 3" class="row mb-3">

                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                        <label>Asso.Tax 1 - (<strong>{{TaxTypeList[0].AssociatedTaxTypeName}}</strong>)</label><br>
                        <!-- (change)="taxCalculation($event.target.value,TaxTypeList[0].AssociatedTaxTypeName,'asso1')" -->
                        <input readonly [ngClass]=" isUpdate ? 'block-input' :  'disabled'" type="number" name="taxGroup"
                            formControlName="asso1" autocomplete="off" id="taxGroup" (paste)="(false)"
                            ng-model="taxGroup" class="form-control" maxlength="80">
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                        <label>Asso.Tax 2 - (<strong>{{TaxTypeList[1].AssociatedTaxTypeName}}</strong>)</label><br>
                        <input readonly [ngClass]=" isUpdate ? 'block-input' :  'disabled'" type="number" name="taxGroupName"
                            formControlName="asso2" autocomplete="off" id="taxGroupName" (paste)="(false)"
                            ng-model="taxGroupName" class="form-control" maxlength="80">
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                        <label>Asso.Tax 3 - (<strong>{{TaxTypeList[2].AssociatedTaxTypeName}}</strong>)</label><br>
                        <input readonly [ngClass]=" isUpdate ? 'block-input' :  'disabled'" type="number" name="shortName"
                            formControlName="asso3" autocomplete="off" id="shortName" (paste)="(false)"
                            ng-model="shortName" class="form-control" maxlength="80">
                    </div>
                </div>


                <div *ngIf="TaxTypeList.length == 2" class="row mb-3">

                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                        <label>Asso.Tax 1 - (<strong>{{TaxTypeList[0].AssociatedTaxTypeName}}</strong>)</label><br>
                        <input readonly [ngClass]=" isUpdate ? 'block-input' :  'disabled'" type="number" name="taxGroup"
                            formControlName="asso1" autocomplete="off" id="taxGroup" (paste)="(false)"
                            ng-model="taxGroup" class="form-control" maxlength="80">
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                        <label>Asso.Tax 2 - (<strong>{{TaxTypeList[1].AssociatedTaxTypeName}}</strong>)</label><br>
                        <input readonly [ngClass]=" isUpdate ? 'block-input' :  'disabled'" type="number" name="taxGroupName"
                            formControlName="asso2" autocomplete="off" id="taxGroupName" (paste)="(false)"
                            ng-model="taxGroupName" class="form-control" maxlength="80">
                    </div>

                    <!-- <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                        <label>Asso.Tax 3</label><br>
                        <input [ngClass]=" isUpdate ? 'block-input' : ''" type="number" name="shortName"
                            formControlName="asso3" autocomplete="off" id="shortName" (paste)="(false)"
                            ng-model="shortName" class="form-control" maxlength="80">
                    </div> -->
                </div>

                <div *ngIf="TaxTypeList.length == 1" class="row mb-3">

                    <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                        <label>Asso.Tax 1 - (<strong>{{TaxTypeList[0].AssociatedTaxTypeName}}</strong>)</label><br>
                        <input readonly [ngClass]=" isUpdate ? 'block-input' : 'disabled'" type="number" name="taxGroup"
                            formControlName="asso1" autocomplete="off" id="taxGroup" (paste)="(false)"
                            ng-model="taxGroup" class="form-control" maxlength="80">
                    </div>

                    <!-- <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                        <label>Asso.Tax 2</label><br>
                        <input [ngClass]=" isUpdate ? 'block-input' : ''" type="number" name="taxGroupName"
                            formControlName="asso2" autocomplete="off" id="taxGroupName" (paste)="(false)"
                            ng-model="taxGroupName" class="form-control" maxlength="80">
                    </div> -->

                    <!-- <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4">
                        <label>Asso.Tax 3</label><br>
                        <input [ngClass]=" isUpdate ? 'block-input' : ''" type="number" name="shortName"
                            formControlName="asso3" autocomplete="off" id="shortName" (paste)="(false)"
                            ng-model="shortName" class="form-control" maxlength="80">
                    </div> -->
                </div>


                <div class="mb-3">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12" style="text-align:right;">
                        <button type="submit" *ngIf="isCreate" (click)="saveTaxGroup()"
                            class="btn btn-primary btn-raised btn-default cntbtn mb-0">Save</button>
                        <button [disabled]="!isUpdateEnable" *ngIf="isUpdate" (click)="saveTaxGroup()" type="submit"
                            class="btn btn-primary btn-raised btn-default cntbtn mb-0">Update</button>
                        <button type="button" (click)="onBack()"
                            class="btn btn-danger btn-raised cntbtn mb-0">Cancel</button>
                    </div>
                    <input type="hidden" id="HDRegId" ng-model="HDRegId" />
                </div>

                <!-- <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                    <div class="form-group bmd-form-group">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
                                <label class="str">Tax Type</label>
                            </div>
                            <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1">:</div>
                            <div class="col-md-7 col-sm-7 col-lg-7 col-xl-7">

                                <select formControlName="TaxType" id="TaxType" class="form-control my-select"
                                    (change)="OnBindDropdowntax()">
                                    <option [value]="null">-- Select Tax Type --</option>
                                    <option *ngFor="let gRow  of AccTypeassociated" [value]="gRow.TaxTypeId">
                                        {{gRow.TaxTypeName}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div> -->

                <!-- <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                    <div class="form-group bmd-form-group">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
                                <label class="str">Tax Group</label>
                            </div>
                            <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1">:</div>
                            <div class="col-md-7 col-sm-7 col-lg-7 col-xl-7">
                                <input type="text" name="taxtypename" formControlName="TaxGroup" autocomplete="off"
                                    id="taxtypename" ng-model="taxtypename" maxlength="50" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                    <div class="form-group bmd-form-group">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
                                <label class="str">Tax Rates</label>
                            </div>
                            <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1">:</div>
                            <div class="col-md-7 col-sm-7 col-lg-7 col-xl-7">
                                <input type="text" name="effectivedate" formControlName="TaxRates" autocomplete="off"
                                    id="effectivedate" ng-model="effectivedate" class="form-control" maxlength="6"
                                    onlyNumber>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

                <!-- <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                    <label class="str1">Tax Bifurications</label>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4 col-xl-4"
                    *ngFor="let dataItem of taxGroupBifuricationLable;let i = index">
                    <div class="form-group bmd-form-group">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
                                <label class="str">{{dataItem.AssociatedTaxTypeLable}}&nbsp;:&nbsp;</label>
                            </div>

                            <div class="col-md-4 col-sm-4 col-lg-7 col-xl-4">
                                <input type="text" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="dataItem.TaxBifurcation" autocomplete="off" class="form-control"
                                    maxlength="6" onlyNumber>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            </div>
            <!-- <div class="card-body porttarifftab">

            <div class="row">
                <div class="col-md-4">
                    <ul class="nav nav-pills nav-justified" role="tablist">
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link active show" data-toggle="tab" href="#revenue" role="tab"
                                aria-selected="true">Accounting Link</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row porttariff">
                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane pt-3 active show" id="revenue" role="tabpanel">

                            <div class="row">

                                <div class="col-12">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                                                <div class="form-group bmd-form-group">
                                                    <div class="row">
                                                        <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
                                                            <label class="str1">Sales </label>
                                                        </div>
                                                        <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1">:</div>
                                                        <div class="col-md-7 col-sm-7 col-lg-7 col-xl-7">
                                                            <mat-select formControlName="Sales" placeholder="Sales"
                                                                class="form-control" multiple
                                                                (selectionChange)="onSaleSection()"> -->
            <!---- <mat-option value="null">--SELECT Sales---</mat-option>-->
            <!-- <mat-option *ngFor="let gRow  of AccTypesales"
                                                                    [value]="gRow.ChartOfAccountsId">
                                                                    {{gRow.SubAccountGroupName}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-sm-6 col-lg-4 col-xl-4"
                                                    *ngFor="let dataItem of saleTaxGroupLable ;let i = index">
                                                    <div class="form-group bmd-form-group">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
                                                                <label
                                                                    class="str1">{{dataItem.AssociatedTaxTypeLable}}&nbsp;Output:&nbsp;</label>
                                                            </div>

                                                            <div class="col-md-4 col-sm-4 col-lg-7 col-xl-4">
                                                                <input type="text" [ngModelOptions]="{standalone: true}"
                                                                    [(ngModel)]="dataItem.TaxBifurcation"
                                                                    autocomplete="off" class="form-control"
                                                                    maxlength="6" onlyNumber
                                                                    [readonly]="salesFieldReadonly">
                                                            </div>
                                                            <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
                                                                <button type="button"
                                                                    (click)="salesAssociateRemove(dataItem.AssociatedTaxTypeId)"
                                                                    rel="tooltip" class="btn btn-danger bmd-btn-fab">
                                                                    <i class="material-icons">delete</i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-12">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                                                <div class="form-group bmd-form-group">
                                                    <div class="row">
                                                        <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
                                                            <label class="str1">Purchases </label>
                                                        </div>
                                                        <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1">:</div>
                                                        <div class="col-md-7 col-sm-7 col-lg-7 col-xl-7">
                                                            <mat-select formControlName="Purchases"
                                                                placeholder="Purchases" [(ngModel)]="salesSelection"
                                                                class="form-control" multiple
                                                                (selectionChange)="onPurchaseSection()">
                                                                <mat-option *ngFor="let gRow  of purchaseList"
                                                                    [value]="gRow.ChartOfAccountsId">
                                                                    {{gRow.SubAccountGroupName}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-sm-6 col-lg-4 col-xl-4"
                                                    *ngFor="let dataItem of purchaseTaxGroupLable;let i = index">
                                                    <div class="form-group bmd-form-group">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
                                                                <label
                                                                    class="str1">{{dataItem.AssociatedTaxTypeLable}}&nbsp;Input:&nbsp;</label>
                                                            </div>

                                                            <div class="col-md-4 col-sm-4 col-lg-7 col-xl-4">
                                                                <input type="text" [ngModelOptions]="{standalone: true}"
                                                                    [(ngModel)]="dataItem.TaxBifurcation"
                                                                    autocomplete="off" class="form-control"
                                                                    maxlength="6" onlyNumber
                                                                    [readonly]="purFieldReadonly">
                                                            </div>
                                                            <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
                                                                <button type="button"
                                                                    (click)="purchaseAssociateRemove(dataItem.AssociatedTaxTypeId)"
                                                                    rel="tooltip" class="btn btn-danger bmd-btn-fab">
                                                                    <i class="material-icons">delete</i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 alrt">
                                    <button type="submit" (click)="onSubmit()" class="btn  btn-raised mb-0"
                                        style="background-color:green;color:white;margin-right:12px;">Submit</button>
                                    <button type="button" (click)="reset()"
                                        class="btn btn-primary btn-raised mb-0">Cancel</button>
                                </div>
                                <input type="hidden" id="RegId" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="RegId" name="RegId" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divide"></div>
        </div> -->
        </div>
    </form>
</div>