<div class="row headtitle">
    <div class="col-md-9">
        <h4>Commodity Master</h4>
    </div>
    <div class="col-md-3 alrt">
        <button type="button" class="btn btn-success btntop btn-raised bmd-btn-edit" (click)="onBack()"><i class="material-icons editicon">reply</i><div class="ripple-container"></div></button>
    </div>
</div>

<form [formGroup]="commodityForm">
    <div class="card">
        <div class="card-body ">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="str">Commodity UN Code</label>
                            </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-7">
                                <input type="text" name="CommodityUnCode" formControlName="CommodityUnCode" autocomplete="off" id="txtCmdCode" ng-model="txtCmdCode" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="str">Commodity Name</label>
                            </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-7">
                                <input type="text" name="CommodityName" formControlName="CommodityName" id="txtCmdName" autocomplete="off" ng-model="txtCmdName" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="str">HS Code</label>
                            </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-7">
                                <input type="text" name="HSCode" formControlName="HSCode" autocomplete="off" id="txtHsCode" ng-model="txtHsCode" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="str">Commodity Type</label>
                            </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-7">
                                <select name="CommodityType" id="ddlCommodityType" formControlName="CommodityType" class="form-control my-select">
                                    <option *ngFor="let commtype of commtype" [value]="commtype.CommodityType">
                                        {{commtype.GeneralName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="str">Dangerous Flag</label>
                            </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-7">
                                <select name="DangerousFlag" id="ddlFlag" formControlName="DangerousFlag" class="form-control my-select">
                                    <option *ngFor="let dgflag of dgflag" [value]="dgflag.value">
                                        {{dgflag.viewValue}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Remarks</label>
                            </div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-7">
                                <input name="Remarks" formControlName="Remarks" type="text" id="txtRemarks" autocomplete="off" ng-model="txtRemarks" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer ">
            <div class="col-md-12" style="text-align:right;">
                <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-raised mb-0">Submit</button>
            </div>
            <input type="hidden" id="HDRegId" ng-model="HDRegId" />
        </div>
    </div>
</form>
